<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="../secret/config.js"></script>
  <script type="text/javascript" src="/public/javascripts/send_time_log.js"></script>
  <script type="text/javascript" src="/public/javascripts/href_event.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="../public/javascripts/loading.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/loading.css">
</head>
<body>
<header id="header">
  <div class="wrapper wrapper_header">
    <div class="top_01 top_common">
      <img id="logo" class="logo" src="../public/images/img-chatbrick-logo.png" alt="logo">

      <div class="top_01 top_user_profile_common">
        <img id="login_logo" class="login_logo">
        <div id="login_name" class="login_name" name="login_name"><p id="login_name_text"></p></div>
        <img id="login_dropdown" class="login_dropdown" src="../public/images/btn-dropdown-down.png"
             alt="login_dropdown">
      </div>
    </div>

    <div class="top_02 top_common">
      <div class="top_02 title_area">
        <div id="title">CREAT CHATBOT</div>
        <div id="sub_title">| 플랫폼 연동하기</div>
      </div>
      <div id="context">
        <p>
          고생하셨어요. 이제 {{사용자가 선택한 세트}} SET를 완성하기 위한 마지막단계에요.
          {{사용자의 이름}}님이 소유하고 있는 페이스북의 페이지 또는 텔레그램의 토큰값을 입력하여 챗봇생성을 완료해주세요.
          챗봇 수정하기에서 플랫폼 연동을 변경할 수 있어요.
        </p>
      </div>
    </div>
  </div>
</header>

<div id="content">
  <div class="wrapper_section _messenger_section">
    <section id="section_01">
      <div class="content_title">
        <p>
          필수 추가연동
        </p>
      </div>

      <div class="wrapper_article _messenger_wrapper">
        <article id="article_fb" class="_article">

          <div class="wrapper _fb_messenger_wrapper">
            <div class="messenger_set">
              <img src="../public/images/img-fb-messenger.png"
                   id="img_fb_messenger" class="messenger_img">
              <div class="messenger_text">
                <div class="messenger_title">
                  페이지북 메신저
                </div>
                <div class="messenger_context">
                  YOUR FACEBOOK PAGES
                </div>
              </div>
            </div>


            <div id="fb_page_list">

              <!--fb_page_set_item 영역-->
              <!--<div class="fb_page_set">-->
              <!--<img src="../public/images/test_img.png"-->
              <!--class="fb_page_img">-->
              <!--<div class="fb_page_text">-->
              <!--<div class="fb_page_title">-->
              <!--Bluehack 01-->
              <!--</div>-->
              <!--<div class="fb_page_btn">-->
              <!--<p>-->
              <!--연결하기-->
              <!--</p>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->

            </div>
          </div>
        </article>

        <!--telegram article-->
        <div class="wrapper_article _messenger_wrapper">
          <article id="article_telegram">
            <div class="wrapper _telegram_messenger_wrapper">
              <div class="messenger_set">
                <img src="../public/images/img-tele-messenger.png"
                     id="img_telegram__messenger" class="messenger_img">
                <div class="messenger_text">
                  <div class="messenger_title">
                    텔레그램
                  </div>
                  <div class="messenger_context">
                    YOUR BOTS
                  </div>
                </div>
              </div>

              <div class="tg_content">
                <div class="tg_connect_page">
                  <div class="tg_content_title">
                    <p>적용하려는 봇의 토큰값을 입력해주세요</p>
                  </div>

                  <div class="tg_input_btn_line">
                    <input type="text" id="tg_content_name" class="tgInputText" placeholder="발급받은 TOKEN KEY를 입력해주세요.">
                    <div class="tele_page_btn" id="tele_page_btn">연결하기</div>
                  </div>
                  <div class="tg_content_context">
                    <p>
                      토큰값을 발급받기 위해서는 텔레그램에서 @BotFather 을 검색한 뒤,
                      안내에 따라 봇을 최초 생성하는 별도의 사전작업이 필요해요.
                      자세한 안내는 텔레그램의 Bot Platform 페이지에서 확인하실 수 있어요.<br>
                      https://telegram.org/blog/bot-revolution
                    </p>
                  </div>
                </div>

                <!--tele connected page-->
                <div class="tele_page_set">
                  <img src="../public/images/img-telegram-bot-default.png"
                       class="tele_page_img">
                  <div class="tele_page_text">
                    <div class="tele_page_title">
                      Bot Name
                    </div>
                    <div class="tele_page_disconnect_btn" id="tele_page_disconnect_btn">
                      연결해제 하기
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </article>
        </div>

      </div>
    </section>
  </div>

  <!--디폴트 모양 팝업-->
  <div id="default_modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">

      <div class="modal_title">확인</div>
      <div class="modal_context">챗봇 생성을 완료하시곘습니까?</div>
      <div class="modal_brick_api_two_btn_area">
        <div id="modal_left_btn" class="modal_left_btn">
          <p>아니요</p>
        </div>

        <div id="modal_right_btn" class="modal_right_btn">
          <p>네</p>
        </div>
      </div>
    </div>
  </div>

  <!--로그아웃 모양 팝업-->
  <div id="logout_modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">

      <div class="modal_title">로그아웃</div>
      <div class="modal_context">chatbrick에서 로그아웃하시겠어요?</div>
      <div class="modal_brick_api_two_btn_area">
        <div id="modal_left_logout_btn" class="modal_left_btn">
          <p>아니요</p>
        </div>

        <div id="modal_right_logout_btn" class="modal_right_btn">
          <p>네</p>
        </div>
      </div>
    </div>
  </div>

  <!--에러 모양 팝업-->
  <div id="default_error_modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">

      <div class="modal_title">확인</div>
      <div class="modal_context" id="modal_error_context"></div>
      <div id="modal_one_error_btn" class="modal_one_btn">
        <p>확인</p></div>
    </div>
  </div>

  <!--서버에러 모양 팝업-->
  <div id="default_server_error_modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">

      <div class="modal_title">확인</div>
      <div class="create_context_area">
        <div class="server_error_modal_context_01">에러가 발생했어요.</div>
        <div class="server_error_modal_context_02">잠시후 다시 시도해주세요.</div>
      </div>
      <!--<div class="modal_context">올바르지 않은 항목이 존재합니다. (미입력, 잘못입력된 항목)</div>-->
      <div id="modal_one_server_error_btn" class="modal_one_btn">
        <p>확인</p></div>
    </div>
  </div>

</div>

<footer id="footer">
  <div class="bottom_common">
    <div id="end_page" align="center">
      <p>
        끝내기
      </p>
    </div>
  </div>
</footer>

<script type="text/javascript">
  $('input[type=text]').addClass('placeholder');
  $('#logo').click(function () {
    logoClickSendHomeEvent();
  });
  var setId = `<%=setId%>`;
  var login_logo = $('#login_logo');
  var login_name = $('#login_name_text');
  var login_dropdown = $('#login_dropdown');
  var fb_page_list = $('#fb_page_list');

  var fb_page_ids = [];
  var fb_page_access_tokens = [];
  var fb_page_names = [];
  var fb_pages_info = {};
  var registered_fb_name;
  var registered_page_list_copy;
  var fb_name = '';

  var start_time_fb_task = '';
  var start_time_tele_task = '';
  var start_time_fb_api_connect = '';
  var start_time_fb_api_del_connect = '';
  var start_time_tele_api_connect = '';
  var start_time_tele_api_del_connect = '';
  var start_time_fb_api_reg = '';

  var end_time_fb_task = '';
  var end_time_tele_task = '';
  var end_time_fb_api_connect = '';
  var end_time_fb_api_del_connect = '';
  var end_time_tele_api_connect = '';
  var end_time_tele_api_del_connect = '';
  var end_time_fb_api_reg = '';

  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    if (response.status === 'connected') {

      var fb_id;

      $.ajax({
        url: 'https://www.chatbrick.io/api/login/',
        type: 'GET',
        async: false,
        crossDomain: true,
        xhrFields: {withCredentials: true},
        success: function (body, status, res) {
          if (body.success) {
            fb_name = body.facebook.fb_name;
            login_logo.attr("src", body.facebook.fb_profile);
            login_name.text(fb_name);

            fb_id = body.facebook.fb_id;
            console.log('body.facebook.fb_id=>' + fb_id);

            FB.api(body.facebook.fb_id + '/accounts', {"access_token":body.facebook.fb_client_access_token}, function (response) {

              response.data.forEach(function (item, index, array) {

                fb_page_ids.push(response.data[index].id);
//                fb_page_access_tokens.push(response.data[index].access_token);
                fb_page_access_tokens.push(response.data[index].access_token);
                fb_page_names.push(response.data[index].name);
                fb_pages_info = response.data;

                var fb_messager = (
                  `<div class="fb_page_set" id="fb_page_set` + index + `">` +
                  `<img src="../public/images/img-facebook-page-default.png" class="fb_page_img">` +
                  `<div class="fb_page_text">` +
                  `<div class="fb_page_title" id="fb_page_title` + index + `">` + item.name + `</div>` +
                  `<div class="fb_page_btn" id="fb_page_btn` + index + `">연결하기</p>` +
                  `</div>` +
                  `</div>` +
                  `</div>`
                );

                fb_page_list.append(fb_messager);

              }); //response.data.forEach

              //get user connected page list
              $.ajax({
                url: 'https://www.chatbrick.io/api/user/platform/',
                type: 'GET',
                async: false,
                crossDomain: true,
                xhrFields: {withCredentials: true},
                success: function (body, status, res) {

                  console.log('get user connected page list=>' + body.success);
                  if (body.success) {

                    console.log('platform=>'+ JSON.stringify(fb_pages_info.length));

                    registered_page_list_copy = body.data.registered_page_list;
                    body.data.registered_page_list.forEach(function (item, index, array) {

                      if (isEmpty(item.page_id)) {
                        console.log('page_id가 없음 index=>'+ index +'='+JSON.stringify(item));


                      } else {

                        for (var i = 0; i < fb_pages_info.length; i ++) {
                          if (item.page_id == fb_pages_info[i].id) {
                            registered_fb_name = fb_pages_info[i].name;
                            console.log('fb_pages_info[i].id=>' + fb_pages_info[i].id);
                            console.log('registered_fb_name=>' + registered_fb_name);

                            $('#fb_page_set'+i).hide();
                          }
                        }

                        var fb_messager = (
                          `<div class="fb_page_set" id="fb_page_set_connected` + index + `">` +
                          `<img src="../public/images/img-facebook-page-default.png" class="fb_page_img">` +
                          `<div class="fb_page_text">` +
                          `<div class="fb_page_title" id="fb_page_title_connected` + index + `">` + registered_fb_name + `</div>` +
                          `<div class="fb_page_connected_status" id="fb_page_connected_status` + index + `">` + item.name + `에 연결된 페이지</p>` +
                          `</div>` +
                          `</div>` +
                          `</div>`
                        );

                        fb_page_list.append(fb_messager);
                      }
                    });
                  } else {
                    if (body.action == 'ERR0002') {
                      var default_error_modal = document.getElementById('default_error_modal');
                      var modal_one_error_btn = $('#modal_one_error_btn');

                      default_error_modal.style.display = "block";
                      $('#modal_error_context').text(body.msg);


                      modal_one_error_btn.hover(function () {
                        $(this).css('background-color', '#fb7c7e');
                      }, function () {
                        $(this).css('background-color', '#ff753c');
                      });

                      modal_one_error_btn.click(function () {
                        default_error_modal.style.display = "none";
                      });
                    }
                  }
                }
                ,error:function(request,status,error) {
                  var default_server_error_modal = document.getElementById('default_server_error_modal');
                  var modal_one_server_error_btn = $('#modal_one_server_error_btn');

                  default_server_error_modal.style.display = "block";

                  modal_one_server_error_btn.hover(function () {
                    $(this).css('background-color', '#fb7c7e');
                  }, function () {
                    $(this).css('background-color', '#ff753c');
                  });

                  modal_one_server_error_btn.click(function () {
                    default_server_error_modal.style.display = "none";
                  });
                }
              });

              console.log('fb_page_ids=>'+JSON.stringify(fb_page_ids));
              console.log('fb_page_access_tokens=>'+JSON.stringify(fb_page_access_tokens));



              var fb_page_btn = $('.fb_page_btn');
              fb_page_btn.click(function () {

                //check start time
                var date = new Date();
                start_time_fb_task = date.getTime();
                var log_id = 'reg_facebook' + start_time_fb_task;
                var log_id_dele_fb = 'del_facebook' + start_time_fb_task;
//                console.log('start_time=>' + start_time_fb_task);

                var index = $(this).parent().parent().index();
                console.log('index: ' + index);
                console.log('fb_page_ids=>'+fb_page_ids[index]);
                console.log('fb_page_access_tokens=>'+fb_page_access_tokens[index]);
                $(this).toggleClass('platform_connected');

                if ($(this).hasClass('platform_connected')) {

                  //connect fb page api
                  $.ajax({
                    url: 'https://www.chatbrick.io/api/brick/'+setId+'/facebook/'+fb_page_ids[index]+'/'+fb_page_access_tokens[index]+'/',
                    type: 'PUT',
//                    async: false,
                    crossDomain: true,
                    xhrFields: {withCredentials: true},
                    success: function (body, status, res) {

                      console.log('connect fb page api=>' + body.success);
                      if (body.success) {

                        $('.fb_page_set').hide();
                        $('#fb_page_set' + index).show();
                        $('#fb_page_btn' + index).text("연결해제 하기");
                        $('#fb_page_btn' + index).css('border', 'solid 1px #fd6246')
                        $('#fb_page_btn' + index).css('color', '#ffffff')
                      } else {
                        if (body.action == 'ERR0002') {
                          var default_error_modal = document.getElementById('default_error_modal');
                          var modal_one_error_btn = $('#modal_one_error_btn');

                          default_error_modal.style.display = "block";
                          $('#modal_error_context').text(body.msg);


                          modal_one_error_btn.hover(function () {
                            $(this).css('background-color', '#fb7c7e');
                          }, function () {
                            $(this).css('background-color', '#ff753c');
                          });

                          modal_one_error_btn.click(function () {
                            default_error_modal.style.display = "none";
                          });
                        }
                      }
                    }
                    ,error:function(request,status,error) {
                      var default_server_error_modal = document.getElementById('default_server_error_modal');
                      var modal_one_server_error_btn = $('#modal_one_server_error_btn');

                      default_server_error_modal.style.display = "block";

                      modal_one_server_error_btn.hover(function () {
                        $(this).css('background-color', '#fb7c7e');
                      }, function () {
                        $(this).css('background-color', '#ff753c');
                      });

                      modal_one_server_error_btn.click(function () {
                        default_server_error_modal.style.display = "none";
                      });
                    }
                    ,beforeSend: function () {
                      $("body").loading("start");

                      //check start time
                      var date = new Date();
                      start_time_fb_api_connect = date.getTime();

                    }
                    ,complete: function () {
                      $("body").loading("stop");

                      //check end time
                      var date = new Date();
                      end_time_fb_api_connect = date.getTime();
                      console.log('end_time=>' + end_time_fb_api_connect);
                      var tag = '페북 페이지 등록';
                      var remark = '페북 페이지 등록을 위해 사용';
//                        sendTimeLog(setId, start_time, end_time, tag, remark);

                      var api_code = 'reg_facebook';
                      var api_provider_code = 'chatbrick';
                      sendAPILog(log_id, api_code, api_provider_code, start_time_fb_api_connect, end_time_fb_api_connect, remark)

                      //check start time
                      var date = new Date();
                      start_time_fb_api_reg = date.getTime();

                      //facebook subscribed
                      FB.api(
                        '/'+fb_page_ids[index]+'/subscribed_apps',
                        'POST',
                        {'access_token': fb_page_access_tokens[index]},
                        function(response) {
                          //check end time
                          var date = new Date();
                          end_time_fb_api_reg = date.getTime();
                          console.log('end_time=>' + end_time_fb_api_reg);
                          var tag = '페북 페이지 앱 등록';
                          var remark = '페북 페이지 subscribed 위해 사용';
//                          sendTimeLog(setId, start_time, end_time, tag, remark);

                          var api_code = 'reg_facebook';
                          var api_provider_code = 'facebook';
                          sendAPILog(log_id, api_code, api_provider_code, start_time_fb_api_reg, end_time_fb_api_reg, remark)

                          var task_code = 'reg_facebook';
                          sendTaskLog(log_id, task_code, start_time_fb_task, end_time_fb_api_reg, remark);
                        }
                      );
                    }
                  });

                } else {

                  //delete fb page api
                  $.ajax({
                    //TODO: url
                    url: 'https://www.chatbrick.io/api/brick/'+setId+'/facebook/',
                    type: 'DELETE',
//                    async: false,
                    crossDomain: true,
                    xhrFields: {withCredentials: true},
                    success: function (body, status, res) {

                      console.log('connect fb page api=>' + body.success);
                      if (body.success) {

                        $('.fb_page_set').show();
                        $('#fb_page_btn' + index).text('연결하기');
                        $('#fb_page_btn' + index).css('border', 'solid 3px #000000')
                        $('#fb_page_btn' + index).css('color', '#000000')

                        //find project page connected
                        registered_page_list_copy.forEach(function (item, index, array) {
                          if (isEmpty(item.page_id)) {
                            console.log('page_id가 없음 index=>'+ index +'='+JSON.stringify(item));

                          } else {

                            for (var i = 0; i < fb_pages_info.length; i ++) {
                              if (item.page_id == fb_pages_info[i].id) {
                                registered_fb_name = fb_pages_info[i].name;
                                console.log('fb_pages_info[i].id=>' + fb_pages_info[i].id);
                                console.log('registered_fb_name=>' + registered_fb_name);

                                $('#fb_page_set'+i).hide();
                              }
                            }
                          }
                        });

                      } else {
                        if (body.action == 'ERR0002') {
                          var default_error_modal = document.getElementById('default_error_modal');
                          var modal_one_error_btn = $('#modal_one_error_btn');

                          default_error_modal.style.display = "block";
                          $('#modal_error_context').text(body.msg);


                          modal_one_error_btn.hover(function () {
                            $(this).css('background-color', '#fb7c7e');
                          }, function () {
                            $(this).css('background-color', '#ff753c');
                          });

                          modal_one_error_btn.click(function () {
                            default_error_modal.style.display = "none";
                          });
                        }
                      }
                    }
                    ,error:function(request,status,error) {
                      var default_server_error_modal = document.getElementById('default_server_error_modal');
                      var modal_one_server_error_btn = $('#modal_one_server_error_btn');

                      default_server_error_modal.style.display = "block";

                      modal_one_server_error_btn.hover(function () {
                        $(this).css('background-color', '#fb7c7e');
                      }, function () {
                        $(this).css('background-color', '#ff753c');
                      });

                      modal_one_server_error_btn.click(function () {
                        default_server_error_modal.style.display = "none";
                      });
                    }
                    ,beforeSend: function () {
                      $("body").loading("start");

                      //check start time
                      var date = new Date();
                      start_time_fb_api_del_connect = date.getTime();

                    }
                    ,complete: function () {
                      $("body").loading("stop");

                      //check end time
                      var date = new Date();
                      end_time_fb_api_del_connect = date.getTime();
                      console.log('end_time=>' + end_time_fb_api_del_connect);
                      var tag = '페북 페이지 앱 삭제';
                      var remark = '페북 페이지 삭제를 위해 사용';
//                        sendTimeLog(setId, start_time, end_time, tag, remark);

                      var api_code = 'del_facebook';
                      var api_provider_code = 'chatbrick';
                      sendAPILog(log_id_dele_fb, api_code, api_provider_code, start_time_fb_api_del_connect, end_time_fb_api_del_connect, remark)
                      var task_code = 'del_facebook';
                      sendTaskLog(log_id_dele_fb, task_code, start_time_fb_task, end_time_fb_api_del_connect, remark);

                    }
                  });
                }
              }) //fb.click event

              var tg_connect_page = $('.tg_connect_page');
              var tele_page_set = $('.tele_page_set');
              var tele_page_btn = $('#tele_page_btn');
              var tele_page_disconnect_btn = $('#tele_page_disconnect_btn');

              tg_connect_page.show();
              tele_page_set.hide();

              tele_page_btn.click(function () {
                //check start time
                var date = new Date();
                start_time_tele_task = date.getTime();
                var log_id = 'reg_telegram' + start_time_tele_task;
                console.log('start_time=>' + start_time_tele_task);

                //connect telegram api
                $.ajax({
                  //TODO: url
                  url: 'https://www.chatbrick.io/api/brick/'+setId+'/telegram/'+$('#tg_content_name').val()+'/',
                  type: 'PUT',
//                  async: false,
                  crossDomain: true,
                  xhrFields: {withCredentials: true},
                  success: function (body, status, res) {

                    console.log('connected telegram body=>' + JSON.stringify(body));
                    console.log('tg_input=>' + $('#tg_content_name').val());
                    if (body.success) {
                      if (body.data.telegram.ok) {

                        console.log('connected telegram.ok=>' + body.data.telegram.ok);
                        console.log('connected telegram.bot.username=>' + body.data.bot.username);

                        tg_connect_page.hide();
                        tele_page_set.show();
                        $('.tele_page_title').text(body.data.bot.username);
                      }
                    } else {
                      if (body.action == 'ERR0002') {
                        var default_error_modal = document.getElementById('default_error_modal');
                        var modal_one_error_btn = $('#modal_one_error_btn');

                        default_error_modal.style.display = "block";
                        $('#modal_error_context').text(body.msg);


                        modal_one_error_btn.hover(function () {
                          $(this).css('background-color', '#fb7c7e');
                        }, function () {
                          $(this).css('background-color', '#ff753c');
                        });

                        modal_one_error_btn.click(function () {
                          default_error_modal.style.display = "none";
                        });
                      }
                    }
                  }
                  ,error:function(request,status,error) {
                    var default_server_error_modal = document.getElementById('default_server_error_modal');
                    var modal_one_server_error_btn = $('#modal_one_server_error_btn');

                    default_server_error_modal.style.display = "block";

                    modal_one_server_error_btn.hover(function () {
                      $(this).css('background-color', '#fb7c7e');
                    }, function () {
                      $(this).css('background-color', '#ff753c');
                    });

                    modal_one_server_error_btn.click(function () {
                      default_server_error_modal.style.display = "none";
                    });
                  }
                  ,beforeSend: function () {
                    $("body").loading("start");

                    //check start time
                    var date = new Date();
                    start_time_tele_api_connect = date.getTime();
                  }
                  ,complete: function () {
                    $("body").loading("stop");

                    //check end time
                    var date = new Date();
                    end_time_tele_api_connect = date.getTime();
                    console.log('end_time=>' + end_time_tele_api_connect);
                    var tag = '텔레그램 페이지 앱 등록';
                    var remark = '텔레그램 페이지 앱 등록을 위해 사용';
//                        sendTimeLog(setId, start_time, end_time, tag, remark);

                    var api_code = 'reg_telegram';
                    var api_provider_code = 'chatbrick';
                    sendAPILog(log_id, api_code, api_provider_code, start_time_tele_api_connect, end_time_tele_api_connect, remark)
                    var task_code = 'reg_telegram';
                    sendTaskLog(log_id, task_code, start_time_tele_task, end_time_tele_api_connect, remark);
                  }
                });
              }); //tele_page_btn click event

              tele_page_disconnect_btn.click(function () {

                //check start time
                var date = new Date();
                start_time_tele_task = date.getTime();
                var log_id = 'del_telegram' + start_time_tele_task;
                console.log('start_time=>' + start_time_tele_task);

                //disconnect telegram api
                $.ajax({
                  //TODO: url
                  url: 'https://www.chatbrick.io/api/brick/'+setId+'/telegram/'+$('#tg_content_name').val()+'/',
                  type: 'DELETE',
//                  async: false,
                  crossDomain: true,
                  xhrFields: {withCredentials: true},
                  success: function (body, status, res) {

                    if (body.success) {
                      if (body.data.telegram.ok) {

                        console.log('connected telegram.ok=>' + body.data.telegram.ok);
                        tg_connect_page.show();
                        tele_page_set.hide();
                      }
                    } else {
                      if (body.action == 'ERR0002') {
                        var default_error_modal = document.getElementById('default_error_modal');
                        var modal_one_error_btn = $('#modal_one_error_btn');

                        default_error_modal.style.display = "block";
                        $('#modal_error_context').text(body.msg);


                        modal_one_error_btn.hover(function () {
                          $(this).css('background-color', '#fb7c7e');
                        }, function () {
                          $(this).css('background-color', '#ff753c');
                        });

                        modal_one_error_btn.click(function () {
                          default_error_modal.style.display = "none";
                        });
                      }
                    }
                  }
                  ,error:function(request,status,error) {
                    var default_server_error_modal = document.getElementById('default_server_error_modal');
                    var modal_one_server_error_btn = $('#modal_one_server_error_btn');

                    default_server_error_modal.style.display = "block";

                    modal_one_server_error_btn.hover(function () {
                      $(this).css('background-color', '#fb7c7e');
                    }, function () {
                      $(this).css('background-color', '#ff753c');
                    });

                    modal_one_server_error_btn.click(function () {
                      default_server_error_modal.style.display = "none";
                    });
                  }
                  ,beforeSend: function () {
                    $("body").loading("start");

                    //check start time
                    var date = new Date();
                    start_time_tele_api_del_connect = date.getTime();
                  }
                  ,complete: function () {
                    $("body").loading("stop");

                    //check end time
                    var date = new Date();
                    end_time_tele_api_del_connect = date.getTime();
                    console.log('end_time=>' + end_time_tele_api_del_connect);
                    var tag = '텔레그램 페이지 앱 삭제';
                    var remark = '텔레그램 페이지 앱 삭제를 위해 사용';
//                        sendTimeLog(setId, start_time, end_time, tag, remark);

                    var api_code = 'del_telegram';
                    var api_provider_code = 'chatbrick';
                    sendAPILog(log_id, api_code, api_provider_code, start_time_tele_api_del_connect, end_time_tele_api_del_connect, remark)
                    var task_code = 'del_telegram';
                    sendTaskLog(log_id, task_code, start_time_tele_task, end_time_tele_api_del_connect, remark);
                  }
                });
              }); //tele_page_disconnect_btn click event


            });

            $.ajax({
              url: 'https://www.chatbrick.io/api/brick/' + setId + '/',
              type: 'GET',
              async: false,
              crossDomain: true,
              xhrFields: {withCredentials: true},
              success: function (body, status, res) {
                if (body.success) {
                  $('#context').text('고생하셨어요. 이제 '+body.data.name + 'SET를 완성하기 위한 마지막단계에요. '+fb_name+'님이 소유하고 있는 페이스북의 페이지 또는 텔레그램의 토큰값을 입력하여 챗봇생성을 완료해주세요. 챗봇 수정하기에서 플랫폼 연동을 변경할 수 있어요.')
                }
              }
              ,error:function(request,status,error) {
                var default_server_error_modal = document.getElementById('default_server_error_modal');
                var modal_one_server_error_btn = $('#modal_one_server_error_btn');

                default_server_error_modal.style.display = "block";

                modal_one_server_error_btn.hover(function () {
                  $(this).css('background-color', '#fb7c7e');
                }, function () {
                  $(this).css('background-color', '#ff753c');
                });

                modal_one_server_error_btn.click(function () {
                  default_server_error_modal.style.display = "none";
                });
              }
            });
          } else {
            if (body.action == 'ERR0002') {
              var default_error_modal = document.getElementById('default_error_modal');
              var modal_one_error_btn = $('#modal_one_error_btn');

              default_error_modal.style.display = "block";
              $('#modal_error_context').text(body.msg);


              modal_one_error_btn.hover(function () {
                $(this).css('background-color', '#fb7c7e');
              }, function () {
                $(this).css('background-color', '#ff753c');
              });

              modal_one_error_btn.click(function () {
                default_error_modal.style.display = "none";
              });
            }
          }
        }
        ,error:function(request,status,error) {
          var default_server_error_modal = document.getElementById('default_server_error_modal');
          var modal_one_server_error_btn = $('#modal_one_server_error_btn');

          default_server_error_modal.style.display = "block";

          modal_one_server_error_btn.hover(function () {
            $(this).css('background-color', '#fb7c7e');
          }, function () {
            $(this).css('background-color', '#ff753c');
          });

          modal_one_server_error_btn.click(function () {
            default_server_error_modal.style.display = "none";
          });
        }
      });

    } else if (response.status === 'not_authorized') {
      console.log('not_authorized!')
      window.location.href  = '/';
    } else {
      console.log('connected error!')
      window.location.href  = '/';
    }
  }

  //logout event
  var logout_modal = document.getElementById('logout_modal');
  var modal_left_logout_btn = $('#modal_left_logout_btn');
  var modal_right_logout_btn = $('#modal_right_logout_btn');

  login_dropdown.click(function () {
    logout_modal.style.display = "block";
  });

  modal_left_logout_btn.hover(function () {
    $(this).css('background-color', '#fb7c7e');
  }, function () {
    $(this).css('background-color', '#ff753c');
  });

  modal_right_logout_btn.hover(function () {
    $(this).css('background-color', '#fb7c7e');
  }, function () {
    $(this).css('background-color', '#fd6246');
  });

  modal_left_logout_btn.click(function () {
    logout_modal.style.display = "none";
  });

  modal_right_logout_btn.click(function () {
    FB.logout(function(response) {
      console.log('logout=>' + JSON.stringify(response));
      window.location.href = '/';
    });
  });

  var end_page = $('#end_page');
  var default_modal = document.getElementById('default_modal');
  var modal_left_btn = $('#modal_left_btn');
  var modal_right_btn = $('#modal_right_btn');
//  $('#modal_right_btn').css('background-color', '#ff753c');

  modal_left_btn.hover(function () {
    $(this).css('background-color', '#fb7c7e');
  }, function () {
    $(this).css('background-color', '#ff753c');
  });

  modal_right_btn.hover(function () {
    $(this).css('background-color', '#fb7c7e');
  }, function () {
    $(this).css('background-color', '#fd6246');
  });

  modal_left_btn.click(function () {
    default_modal.style.display = "none";
  });

  modal_right_btn.click(function () {
    window.location.href = '/chatbot/list';
  });

  end_page.hover(function () {
    $(this).css('background-color', '#fb7c7e');
  }, function () {
    $(this).css('background-color', '#fd6246');
  });

  end_page.click(function () {
    $(this).css('background-color', '#bd292c');
    window.location.href = '/chatbot/list';
  });

  var isEmpty = function (value) {
    if (value == "" || value == null || value == undefined || ( value != null && typeof value == "object" && !Object.keys(value).length )) {
      return true
    } else {
      return false
    }
  };

</script>
<script type="text/javascript" src="/public/javascripts/connect_facebook.js"></script>
</body>
</html>