<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

</head>
<body>
<header id="header">
	<div class="wrapper wrapper_header">
		<div class="top_01 top_common">
			<img id="logo" class="logo" src="../public/images/img-chatbrick-logo.png" alt="logo">

			<div class="top_01 top_user_profile_common">
				<img id="login_logo" class="login_logo" src="../public/images/test_img.png" alt="login_logo">
				<div id="login_name" class="login_name" name="login_name"><p id="login_name_text"></p></div>
				<img id="login_dropdown" class="login_dropdown" src="../public/images/btn-dropdown-down.png" alt="login_dropdown">
			</div>
		</div>

		<div class="top_02 top_common">
			<div class="top_02 title_area">
				<div id="title">CREAT CHATBOT</div>
				<div id="sub_title">| 플랫폼 연동하기</div>
			</div>
			<div id="context">
				<p>
					고생하셨어요. 이제 {{사용자가 선택한 세트}} SET를 완성하기 위한 마지막단계에요.
					{{사용자의 이름}}님이 소유하고 있는 페이스북의 페이지 또는 텔레그램의 토큰값을 입력하여 챗봇생성을 완료해주세요.
					챗봇 수정하기에서 플랫폼 연동을 변경할 수 있어요.
				</p>
			</div>
		</div>
	</div>
</header>

<div id="content">
	<div class="wrapper_section _messenger_section">
		<section id="section_01">
			<div class="content_title">
				<p>
					필수 추가연동
				</p>
			</div>

			<div class="wrapper_article _messenger_wrapper">
				<article id="article_fb" class="_article">

					<div class="wrapper _fb_messenger_wrapper">
						<div class="messenger_set">
							<img src="../public/images/img-fb-messenger.png"
									 id="img_fb_messenger" class="messenger_img">
							<div class="messenger_text">
								<div class="messenger_title">
									페이지북 메신저
								</div>
								<div class="messenger_context">
									YOUR FACEBOOK PAGES
								</div>
							</div>
						</div>


						<div id="fb_page_list">

							<!--fb_page_set_item 영역-->
							<!--<div class="fb_page_set">-->
								<!--<img src="../public/images/test_img.png"-->
										 <!--class="fb_page_img">-->
								<!--<div class="fb_page_text">-->
									<!--<div class="fb_page_title">-->
										<!--Bluehack 01-->
									<!--</div>-->
									<!--<div class="fb_page_btn">-->
										<!--<p>-->
											<!--연결하기-->
										<!--</p>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->

						</div>
					</div>
				</article>

				<!--telegram article-->
				<div class="wrapper_article _messenger_wrapper">
					<article id="article_telegram">
						<div class="wrapper _telegram_messenger_wrapper">
							<div class="messenger_set">
								<img src="../public/images/img-tele-messenger.png"
										 id="img_telegram__messenger" class="messenger_img">
								<div class="messenger_text">
									<div class="messenger_title">
										텔레그램
									</div>
									<div class="messenger_context">
										YOUR BOTS
									</div>
								</div>
							</div>

							<div class="tg_content">
								<div class="tg_content_title">
									<p>적용하려는 봇의 토큰값을 입력해주세요</p>
								</div>
								<input type="text" id="tg_content_name" class="tgInputText" placeholder="발급받은 API KEY를 입력해주세요.">
								<div class="tg_content_context">
									<p>
										Build a Facebook bot without coding. Launch a full-featured chatbot in 7 minutes.
										We believe in the power of chatbots to strengthen your connection to
										your audience—whether that's your customers, readers, fans, or others.
										And we're committed to
										making that as easy as we can.
									</p>
								</div>
							</div>
						</div>
					</article>
				</div>

			</div>
		</section>
	</div>

</div>

<footer id="footer">
	<div class="bottom_common">
		<div id="pre_page">
			<p>
				이전
			</p>
		</div>
		<div id="next_page" align="center">
			<p>
				다음
			</p>
		</div>
	</div>
</footer>

<script type="text/javascript">

  var login_logo = $('#login_logo');
  var login_name = $('#login_name_text');
  var login_dropdown = $('#login_dropdown');
  var fb_page_list = $('#fb_page_list');

  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    if (response.status === 'connected') {

      $.ajax({
        url: 'https://www.chatbrick.io/api/login/',
        type: 'GET',
        async: false,
        crossDomain: true,
        xhrFields: {withCredentials: true},
        success: function (body, status, res) {
          if (body.success) {
            login_logo.attr("src", body.facebook.fb_profile);
            login_name.text(body.facebook.fb_name);

            console.log('body.facebook.fb_id=>' + body.facebook.fb_id);

            FB.api(body.facebook.fb_id+'/accounts', function (response) {
              console.log('Successful page info for: ' + JSON.stringify(response));
              console.log('data length: ' + response.data.length);
              console.log('access_token[0]: ' + response.data[0].access_token);
              console.log('name[0]: ' + response.data[0].name);

              response.data.forEach(function (item, index, array) {
                var fb_messager = (
                  `<div class="fb_page_set">`+
                  `<img src="../public/images/test_img.png" class="fb_page_img">`+
                  `<div class="fb_page_text">`+
                  `<div class="fb_page_title">`+item.name+`</div>`+
                  `<div class="fb_page_btn">`+
                  `<p> 연결하기 </p>`+
                  `</div>`+
                  `</div>`+
                  `</div>`
                );

                fb_page_list.append(fb_messager);
              });

            });
          }
        }
      });

    } else if (response.status === 'not_authorized') {

    } else {

    }
  }


</script>
<script type="text/javascript" src="/public/javascripts/connect_facebook.js"></script>
</body>
</html>