<!DOCTYPE html>
<html lang="kr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>
<body>
<header id="header">
  <div class="wrapper wrapper_header">
    <div class="top_01 top_common">
      <img id="logo" class="logo" src="../public/images/img-chatbrick-logo.png" alt="logo">

      <div class="top_01 top_user_profile_common">
        <img id="login_logo" class="login_logo" src="../public/images/test_img.png" alt="login_logo">
        <div id="login_name" class="login_name" name="login_name"><p id="login_name_text"></p></div>
        <img id="login_dropdown" class="login_dropdown" src="../public/images/btn-dropdown-down.png"
             alt="login_dropdown">
      </div>
    </div>

    <div class="top_02 top_common">
      <div class="top_02 title_area">
        <div id="title">CREAT CHATBOT</div>
        <div id="sub_title">| BRICK 선택하기</div>
      </div>
      <div id="context">
        <p>
          BRICK은 챗봇 기능의 최소단위에요. BRICK 세트에서는 최소 1개에서 최대 10개까지의 BRICK을 선택하여 적용할 수 있어요.
          세트와 마찬가지로 “미리보기”버튼을 통해 해당 BRICK을 미리 체험해볼 수 있어요.
        </p>
      </div>
    </div>
  </div>
</header>

<!--브릭 선택 페이지-->
<div id="page_select_bricks">

  <!--브릭 선택 영역-->
  <section id="section_01">
    <div class="content_title">
      <p>
        브릭선택
      </p>
    </div>

    <div class="wrapper_article _select_brick_wrapper">
      <article id="article_01" class="_article">
        <div class="wrapper">
          <div class="select_brick bricklist" id="brick_list">

            <!--<div class="brick_item">-->
            <!--<img src="http://localhost:63342/cb-web/dist/824126bd7bcc1478656d0c85f8e11038.png" alt="brick image"-->
            <!--class="brick_img">-->
            <!--<div class="brick_name">날씨정보-->
            <!--</div>-->
            <!--<div class="item_brick_event">-->
            <!--<div class="brick_choice">브릭 선택하기</div>-->
            <!--<div class="brick_preview">-->
            <!--<img src="http://localhost:63342/cb-web/dist/36301c74710f6da599bd68485babe274.png"-->
            <!--alt="preview_img">-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

          </div>
        </div>
      </article>
    </div>
  </section>
</div>

<!--브릭 apikey 입력 페이지-->
<div id="page_bricks_apikey">
  <div class="wrapper_section _apikey_section">
    <section id="section_01">
      <div class="content_title">
        <p>
          API KEY
        </p>
      </div>

      <div class="wrapper_article _apikey_wrapper">
        <article id="article_01" class="_article">
          <div class="wrapper">

            <div id="api_set_list" class="api_set_list">
              <!--start api_set area-->

              <!--<div class="api_set">-->
              <!--<div class="api_title">-->
              <!--<img src="../public/images/test_img.png"-->
              <!--class="api_img">-->
              <!--<div class="api_name">날씨정보</div>-->
              <!--</div>-->
              <!--<div class="api_content">-->
              <!--<div class="api_content_context">-->
              <!--<p>-->
              <!--Shows search results for a request. You can use a specific request or-->
              <!--a user attribute saved in a «User input», «Quick Reply» or «Setup user attribute» plugins.-->
              <!--</p>-->
              <!--</div>-->
              <!--<div class="api_content_key_title">-->
              <!--API KEY-->
              <!--</div>-->
              <!--<input type="text" class="apikeyInputText" placeholder="발급받은 API KEY를 입력해주세요.">-->
              <!--<a href="https://www.linkedin.com" class="create_apikey_link">-->
              <!--<p>-->
              <!--API KEY 신청하기-->
              <!--</p>-->
              <!--</a>-->
              <!--</div>-->
              <!--<hr class="apikey_underline">-->
              <!--</div>-->

              <!--end api_set area-->
            </div>

          </div>
        </article>
      </div>
    </section>
  </div>
</div>

<!--브릭 apikey 확인 페이지-->
<div id="page_bricks_confirm_apikey">

  <!--사용자 데이터 입력 영역-->
  <div class="wrapper_section _user_profile_section">
    <section id="section_01" class="_profile_section">
      <div class="content_title">
        <p>
          사용자 데이터 입력 _ 기본정보
        </p>
      </div>

      <div class="wrapper_article _user_profile_wrapper">
        <article id="article_02" class="_article">

          <div class="wrapper">
            <div class="user_profile_data_area">
              <div class="article_title_profile">
                챗봇에 방문하였을 때, 처음으로 보내는 메세지
              </div>
              <input type="text" id="user_profile_start_message_01" class="baseInputText_02 user_profile_start_message" placeholder="가나다">
              <input type="text" id="user_profile_start_message_02" class="baseInputText_02 user_profile_start_message" placeholder="가나다">
              <input type="text" id="user_profile_start_message_03" class="baseInputText_02 user_profile_start_message" placeholder="가나다">

              <div class="article_title_profile">
                방문자가 준비되지 않은 메세지를 보냈을 때, 보내는 메세지
              </div>
              <input type="text" id="user_profile_not_ready_mesage_01" class="baseInputText_02 user_profile_not_ready_mesage" placeholder="가나다">
              <input type="text" id="user_profile_not_ready_mesage_02" class="baseInputText_02 user_profile_not_ready_mesage" placeholder="가나다">
              <input type="text" id="user_profile_not_ready_mesage_03" class="baseInputText_02 user_profile_not_ready_mesage" placeholder="가나다">
            </div>
          </div>
        </article>
      </div>
    </section>
  </div>

  <!--브릭 수정 영역-->
  <div id="brick_api_section" class="wrapper_section _brick_api_section">
    <section id="section_02" class="_brick_api_section">
      <div class="content_title">
        <p>
          브릭 수정
        </p>
      </div>
      <div class="wrapper_article _brick_api_wrapper">
        <article id="article_03" class="_article">
          <div class="wrapper">

            <div class="brick_api_zone" id="brick_api_zone">
              <!--브릭 아이템 영역-->
              <!--<div class="brick_api_item_area">-->
                <!--<div class="brick_api_item_name">-->
                  <!--<p>날씨정보</p>-->
                <!--</div>-->
                <!--&lt;!&ndash;브릭 아이템 태그 영역&ndash;&gt;-->
                <!--<div class="brick_api_item_tag_area">-->
                  <!--<div class="brick_api_item_tag">-->
                    <!--<p>weather</p>-->
                  <!--</div>-->

                  <!--<div class="brick_api_item_tag">-->
                    <!--<p>재난상황정보</p>-->
                  <!--</div>-->

                  <!--<div class="brick_api_item_tag">-->
                    <!--<p>재난</p>-->
                  <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;브릭 아이템 버튼 영역&ndash;&gt;-->
                <!--<div class="brick_api_item_btn_area">-->
                  <!--<div class="brick_api_item_btn_motify">-->
                    <!--<p>수정하기</p>-->
                  <!--</div>-->

                  <!--<div class="brick_api_item_btn_delete">-->
                    <!--<p>삭제</p>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            </div>

          </div>
        </article>
      </div>
    </section>
  </div>
</div>

<!--디바이스 모양 팝업-->
<div id="modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">

    <div class="modal_device_wapper">
      <img src="../public/images/img-device.png" id="modal_device_img" class="device_img">
      <div class="modal_device_content">
        <div class="modal_device_set_content">

          <div class="modal_device_set_title_area">
            <div class="modal_device_set_title">
              | SET DEMO
            </div>
            <div id="modal_device_set_name" class="modal_device_set_name">
              : HACKATHON
            </div>
          </div>
          <img src="../public/images/img-hackathon.png" id="modal_device_set_img" class="modal_device_set_img">
        </div>

        <hr class="modal_device_underline">
        <div id="modal_device_context_desc" class="modal_device_context_desc">
          Build a Facebook bot without coding. Launch a full-featured <br>
          chatbot in 7 minutes. We believe in the power of chatbots to<br>
          strengthen your connection to your audience—whether <br>
          that's your customers, readers, fans, or others. <br>
          And we're committed to making that as easy as we can.
        </div>
      </div>

      <img src="../public/images/btn-close-nor.png" id="close_modal_img" class="close_modal_img">
    </div>
  </div>
</div>

<!--브릭 api 관련 팝업-->

<div id="modal_brick_api" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <img src="../public/images/btn-close-nor.png" id="close_modal_brick_api_img" class="close_modal_brick_api_img">
    <div class="modal_brick_api_wapper">
      <div class="modal_brick_api_summary">
        <img src="../public/images/img-brick-02.png" class="modal_brick_api_img">
        <div class="modal_brick_api_summary_text">
          <div class="modal_brick_api_title">날씨정보</div>
          <div class="modal_brick_api_desc">데이터 수정</div>
        </div>
      </div>

      <div class="modal_brick_api_context">

        <div class="modal_brick_api_context_01">
          <div class="modal_brick_api_guild">
            챗봇에서 아래의 키워드를 입력하면 WEATHER BRICK이 호출되요
          </div>

          <!--브릭 아이템 태그 영역-->
          <!--<div class="modal_brick_api_item_tag_area">-->
            <!--<div class="modal_brick_api_item_tag">-->
              <!--<p>weather</p>-->
              <!--<img src="../public/images/brtn-tag-delete-nor.png" class="modal_brick_api_item_del_img">-->
            <!--</div>-->
          <!--</div>-->

        <!--브릭 아이템 태그 영역-->
        <!--<div class="modal_brick_api_item_tag_area">-->
          <!--<div class="modal_brick_api_item_tag">-->
            <!--<p>weather</p>-->
            <!--<img src="../public/images/brtn-tag-delete-nor.png" class="modal_brick_api_item_del_img">-->
          <!--</div>-->
          <!--<input type="text" class="modalTagInputText">-->
        <!--</div>-->

        </div>

        <div class="modal_brick_api_context_02">
          <div class="modal_brick_api_guild">
            추가하고 싶은 호출 키워드를 입력해주세요
          </div>
          <input type="text" class="modalInputText" id="modal_brick_api_item_tag_add_input" placeholder="가나다">
        </div>

      </div>

      <div class="modal_brick_api_two_btn_area">
        <div id="modal_left_btn" class="modal_left_btn">
          <p>저장</p>
        </div>

        <div id="modal_right_btn" class="modal_right_btn">
          <p>취소</p>
        </div>
      </div>
    </div>
  </div>
</div>



<footer id="footer">
  <div class="bottom_common">
    <div id="pre_page">
      <p>
        이전
      </p>
    </div>
    <div id="next_page" align="center">
      <p>
        다음
      </p>
    </div>
  </div>
</footer>

<script>
  var baseInfo_name = `<%=jsonData.baseInfo_name%>`;
  var baseInfo_context = `<%=jsonData.baseInfo_context%>`;

  console.log('baseInfo_name=>' + baseInfo_name +
    'baseInfo_context=>' + baseInfo_context);

  //hide placeholder
  $('.user_profile_start_message').keydown(function (key) {
    $('.user_profile_start_message').addClass('transparent');
  });

  $('.user_profile_not_ready_mesage').keydown(function (key) {
    $('.user_profile_not_ready_mesage').addClass('transparent');
  });


  var login_logo = $('#login_logo');
  var login_name = $('#login_name_text');
  var login_dropdown = $('#login_dropdown');
  var context = $('#context');
  var sub_title = $('#sub_title');


  var page_select_bricks = $('#page_select_bricks');
  var page_bricks_apikey = $('#page_bricks_apikey');
  var page_bricks_confirm_apikey = $('#page_bricks_confirm_apikey');
  // var page_bricks_platform = $('#page_bricks_platform');

  var modal_device_set_img = $('#modal_device_set_img');
  var modal_device_set_name = $('#modal_device_set_name');
  var modal_device_context_desc = $('#modal_device_context_desc');

  var resData;
  var fb_name;

  var preview_img;
  var preview_desc;

  var brick_id;

  checkForHash();

  var brick_list = $('#brick_list');
  var selected_brick_list = [];

  $.ajax({
    url: 'https://www.chatbrick.io/api/brick/list/',
    async: false,
    crossDomain: true,
    xhrFields: {withCredentials: true},
    type: 'GET',
    success: function (body, status, res) {

      console.log(body.success);

      resData = body.data;
      fb_name = body.facebook.fb_name;
      login_logo.attr("src", body.facebook.fb_profile);
      login_name.text(fb_name);

      if (body.success) {
        resData.forEach(function (item, index, array) {
          console.log(index);
          preview_img = item.preview.img;
          preview_desc = item.preview.desc;

          var brick = (
            `<div class="brick_item"  id="brick_item` + index + `">` +
            // `<img src="`+item.img+`" alt="brick image" class="brick_img"> ` +
            `<img src="../public/images/img-brick-01.png" alt="brick image" class="brick_img"> ` +
            `<div class="brick_name">` + item.name + `</div> ` +
            `<div class="item_brick_event"> ` +
            `<div class="brick_choice">브릭 선택하기</div> ` +
            `<div class="brick_preview"> ` +
            `<img src="../public/images/btn-preview-01-nor.png" alt="preview_img"> ` +
            `</div> ` +
            `</div>` +
            `</div>`);

          brick_list.append(brick);

        });
      }
    }
  })

  var brick_choice = $('.brick_choice');
  var brick_preview = $('.brick_preview');
  var modal = document.getElementById('modal');

  var api_set_list = $('#api_set_list');
  var brick_api_zone = $('#brick_api_zone');
  // var brick_api_item_area = $('.brick_api_item_area');
  var api_set_clicked_list = [];

  console.log('brick_choice->' + brick_choice.text());

  brick_choice.click(function () {
    // var api_set_html = $(this).parent().parent().html();
    // var api_set_id_Html ='#api_set'+$(this).parent().parent().index();

    var itemIndex = $(this).parent().parent().index();
    $(this).toggleClass('black');
    if($(this).hasClass('black')) {
      console.log('블랙됨')
      console.log('itemIndex=>' + itemIndex);
      $(this).text('선택해제 하기');

      if (selected_brick_list.includes(itemIndex)) {
        console.log('이미 선택리스트에 있음');
      } else {
        console.log('선택리스트에 추가');
        selected_brick_list.push(itemIndex);
      }
      console.log('selected_brick_list=>'+selected_brick_list);

    } else {
      console.log('블랙해제')
      console.log('itemIndex=>' + itemIndex);
      $(this).text('브릭 선택하기');

      if (selected_brick_list.length == 2) {
        // selected_brick_list.replace(itemIndex, '').replace(',','');
        selected_brick_list.pop();
      } else if (selected_brick_list.length == 1) {
        selected_brick_list.pop();
      }  else {
        selected_brick_list.splice(itemIndex, 1);
      }

      console.log('selected_brick_list=>'+selected_brick_list);
      console.log('selected_brick_list length=>'+selected_brick_list.length);
    }
  });


  function selectedBrick(list) {

    list.forEach(function (itemIndex, listIndex, array) {
      var brickApiSet = (
        `<div class="api_set" id="api_set` + itemIndex + `">` +
        `<div class="api_title">` +
        `<img src="` + resData[itemIndex].img + `" class="api_img">` +
        `<div class="api_name">` + resData[itemIndex].name + `</div>` +
        `</div>` +
        `<div class="api_content">` +
        `<div class="api_content_context">` +
        `<p>` + resData[itemIndex].api.desc + `</p>` +
        `</div>` +
        `<div class="api_content_key_title"> API KEY </div>` +
        `<input type="text" class="apikeyInputText" id="apikeyInputText`+itemIndex+`" placeholder="발급받은 API KEY를 입력해주세요.">` +
        `<a href="` + resData[itemIndex].api.provider + `" class="create_apikey_link" target="_blank"> <p> API KEY 신청하기 </p> </a>` +
        `</div>` +
        `<hr class="apikey_underline"> ` +
        `</div>`
      );
      api_set_list.append(brickApiSet);

      var brickApiItem = (
        `<div class="brick_api_item_area" id="brick_api_item_area` + itemIndex + `">` +
        `<div class="brick_api_item_name">`+
        `<p>`+resData[itemIndex].name+`</p>`+
        `</div>`+
        `<div class="brick_api_item_tag_area" id="brick_api_item_tag_area` + itemIndex +`">`+
        `</div>`+
        `<div class="brick_api_item_btn_area">`+
        `<div class="brick_api_item_btn_motify" id="brick_api_item_btn_motify` + itemIndex +`">`+
        `<p>수정하기</p>`+
        `</div>`+
        `<div class="brick_api_item_btn_delete" id="brick_api_item_btn_delete` + itemIndex +`">`+
        `<p>삭제</p>`+
        `</div>`+
        `</div>`+
        `</div>`
      );

      var modalBrickApiItem = (
        `<div class="modal_brick_api_item_tag_area" id="modal_brick_api_item_tag_area` + itemIndex +`">`+
        `</div>`
      );

      brick_api_zone.append(brickApiItem);
      $('.modal_brick_api_context_01').append(modalBrickApiItem);

      //Added brick api tag
        resData[itemIndex].api.keywords.forEach(function (item, index, array) {

          console.log('apitag=>' + item);

          var brick_tag = (
            `<div class="brick_api_item_tag" id="brick_api_item_tag` + index+`">`+
            `<p>`+item+`</p>`+
            `</div>`
          );

          var modal_brick_tag = (
            `<div class="modal_brick_api_item_tag" id="modal_brick_api_item_tag` + index +`">`+
            `<p>`+item+`</p>`+
            `<img src="../public/images/brtn-tag-delete-nor.png" class="modal_brick_api_item_del_img" id="modal_brick_api_item_del_img` + index +`">`+
            `</div>`
          );

          $('#brick_api_item_tag_area'+ itemIndex).append(brick_tag);
          $('#modal_brick_api_item_tag_area'+ itemIndex).append(modal_brick_tag);

        });
    });

  }

  $(document).on('click', '.black', function () {
    var itemIndex = $(this).parent().parent().index();
    console.log('itemIndex=>' + itemIndex);

    });


  var modal_brick_api = document.getElementById('modal_brick_api');
  var close_modal_brick_api_img = document.getElementById('close_modal_brick_api_img');
  $(document).on('click', '.brick_api_item_btn_motify', function () {
    var itemIndex = $(this).parent().parent().index();
    console.log('itemIndex->'+itemIndex );

    $('.modal_brick_api_item_tag_area').hide();
    $('#modal_brick_api_item_tag_area'+selected_brick_list[itemIndex]).show();

    var text = $('#modal_brick_api_item_tag_area'+selected_brick_list[itemIndex] +'> .modal_brick_api_item_tag').html();
    var text1 = $('#modal_brick_api_item_tag_area'+selected_brick_list[itemIndex] +'> .modal_brick_api_item_tag').length;
    console.log('text=>'+ JSON.stringify(text));
    console.log('text1=>'+ text1);
    modal_brick_api.style.display = "block";

  });

  close_modal_brick_api_img.onclick = function () {
    modal_brick_api.style.display = "none";
  }

  $(document).on('click', '.brick_api_item_btn_delete', function () {

    var itemIndex = $(this).parent().parent().index();
    $('#brick_api_item_area'+selected_brick_list[itemIndex]).hide();
    // $('#brick_api_item_area'+selected_brick_list[itemIndex]).toggleClass('hide');
    // console.log('after brick_api_item_area.length=>'+$('.hide').length);
  });

  $(document).on('click', '.modal_brick_api_item_del_img', function () {
    console.log('test!2');
    var itemIndex = $(this).parent().index();
    console.log('tagid=>'+ itemIndex);
    $('#modal_brick_api_item_tag'+itemIndex).hide();
  });


  //enter key event
  var modal_brick_api_item_tag_add_input = $('#modal_brick_api_item_tag_add_input');
  modal_brick_api_item_tag_add_input.keypress(function (key) {

    if(key.keyCode == 13) {

      var apiTagsCount = 10;
      console.log('before apiTagsCount=>' + apiTagsCount);
      newTagCount ++;
      var modal_brick_tag = (
        `<div class="modal_brick_api_item_tag" id="modal_brick_api_item_tag` + apiTagsCount +`">`+
        `<p>`+modal_brick_api_item_tag_add_input.val()+`</p>`+
        `<img src="../public/images/brtn-tag-delete-nor.png" class="modal_brick_api_item_del_img" id="modal_brick_api_item_del_img` + apiTagsCount +`">`+
        `</div>`
      );

      $('.modal_brick_api_item_tag_area').append(modal_brick_tag);
      console.log('after apiTagsCount=>' + apiTagsCount);
      console.log('modal_brick_api_item_tag_add_input=>' + modal_brick_api_item_tag_add_input.val());
    }

  });



  brick_preview.click(function () {

    $(this).toggleClass("press");
    modal.style.display = "block";
  });
  $(document).on('click', '.press', function () {
    var itemIndex = $(this).parent().parent().index();
    console.log('itemIndex=>' + itemIndex);
    console.log('resData[itemIndex]=>' + JSON.stringify(resData[itemIndex]));

    modal_device_set_img.attr("src", resData[itemIndex].img);
    modal_device_set_name.text(resData[itemIndex].name);
    modal_device_context_desc.text(resData[itemIndex].preview.desc);
  });

  brick_preview.hover(function () {
    $(this).css('background-color', '#fb7c7e');
  }, function () {
    $(this).css('background-color', '#e94d50');
  });

  close_modal_img.onclick = function () {
    modal.style.display = "none";
  }

  var pre_page = $('#pre_page');
  var next_page = $('#next_page');
  var pageNumber = 0;

  pre_page.click(function () {
    $(this).css('background-color', '#bd292c');
    pageNumber--;

    if (pageNumber < 0) {
      // pageNumber = 0;
      window.location.href = '/chatbot/create';
    }

    if (pageNumber == 0) {
      page_select_bricks.show();
      page_bricks_apikey.hide();
      page_bricks_confirm_apikey.hide();
      // page_bricks_platform.hide();
      context.text('BRICK은 챗봇 기능의 최소단위에요. BRICK 세트에서는 최소 1개에서 최대 10개까지의 BRICK을 선택하여 적용할 수 있어요.\n' +
        '세트와 마찬가지로 “미리보기”버튼을 통해 해당 BRICK을 미리 체험해볼 수 있어요.');
      sub_title.text('| BRICK 선택하기');
      window.location.reload()

    } else if (pageNumber == 1) {
      page_select_bricks.hide();
      page_bricks_apikey.show();
      page_bricks_confirm_apikey.hide();
      // page_bricks_platform.hide();
      context.text('선택한 BRICK이 원할하게 동작하기 위해서는 해당 BRICK에 필요로 하는 항목들을 입력하셔야 해요. 기존에 API KEY를 보유하고 있지 않다면 BRICK의 아래에 위치한 API KEY 신청하기 버튼을 통해 해당 웹페이지로 이동할 수 있어요. 건너뛰기를 하시면 BRICK의 사용 횟수 제한 등의 제약사항이 있을 수 있어요.')
      sub_title.text('| API KEY 입력하기');

    } else if (pageNumber == 2) {
      page_select_bricks.hide();
      page_bricks_apikey.hide();
      page_bricks_confirm_apikey.show();
      // page_bricks_platform.hide();
      context.text('{{사용자가 선택한 세트}}에 ' + fb_name + '님의 데이터 정보를 입력하는 단계에요. SET별로 비어있는 항목을 입력하거나 기존의 데이터를 수정하여 보다 더 ' + fb_name + '에 잘어울리는 챗봇으로 만들어보세요.');
      sub_title.text('| 데이터 정보 입력하기');

    }

    window.location.hash = pageNumber.toString();
    // window.location.href = '/chatbot/create';
  });

  next_page.click(function () {
    $(this).css('background-color', '#bd292c');
    pageNumber++;

    if (pageNumber > 3) {
      pageNumber = 3;
      // TODO: final popup
    }

    console.log('pageNumber=>' + pageNumber)
    if (pageNumber == 1) {
      console.log('in pageNumber=>')
      page_select_bricks.hide();
      page_bricks_apikey.show();
      page_bricks_confirm_apikey.hide();
      // page_bricks_platform.hide();
      context.text('선택한 BRICK이 원할하게 동작하기 위해서는 해당 BRICK에 필요로 하는 항목들을 입력하셔야 해요. 기존에 API KEY를 보유하고 있지 않다면 BRICK의 아래에 위치한 API KEY 신청하기 버튼을 통해 해당 웹페이지로 이동할 수 있어요. 건너뛰기를 하시면 BRICK의 사용 횟수 제한 등의 제약사항이 있을 수 있어요.')
      sub_title.text('| API KEY 입력하기');
      selectedBrick(selected_brick_list);


    } else if (pageNumber == 2) {
      page_select_bricks.hide();
      page_bricks_apikey.hide();
      page_bricks_confirm_apikey.show();
      // page_bricks_platform.hide();
      context.text('{{사용자가 선택한 세트}}에 ' + fb_name + '님의 데이터 정보를 입력하는 단계에요. SET별로 비어있는 항목을 입력하거나 기존의 데이터를 수정하여 보다 더 ' + fb_name + '에 잘어울리는 챗봇으로 만들어보세요.');
      sub_title.text('| 데이터 정보 입력하기');

    } else if (pageNumber == 3) {

      var submitBrickList = [];
      var user_profile_start_message_01 = $('#user_profile_start_message_01').val();
      var user_profile_start_message_02 = $('#user_profile_start_message_02').val();
      var user_profile_start_message_03 = $('#user_profile_start_message_03').val();
      var user_profile_start_message_result = user_profile_start_message_01 + user_profile_start_message_02 + user_profile_start_message_03;

      var user_profile_not_ready_mesage_01 = $('#user_profile_not_ready_mesage_01').val();
      var user_profile_not_ready_mesage_02 = $('#user_profile_not_ready_mesage_02').val();
      var user_profile_not_ready_mesage_03 = $('#user_profile_not_ready_mesage_03').val();
      var user_profile_not_ready_mesage_result = user_profile_not_ready_mesage_01 + user_profile_not_ready_mesage_02 + user_profile_not_ready_mesage_03;

      $.ajax({
        url: 'https://www.chatbrick.io/api/brick/list/',
        async: false,
        crossDomain: true,
        xhrFields: {withCredentials: true},
        type: 'GET',
        success: function (body, status, res) {

          console.log(body.success);
          resData = body.data;

          if (body.success) {

            for (var i = 0; i < selected_brick_list.length; i++) {
              resData.forEach(function (item, index, array) {

                if (index == selected_brick_list[i]) {
                  var brickJson = {
                    id      : item.id,
                    name    : item.name,
                    keywords: item.api.keywords,
                    data : {
                      api_key: $('#apikeyInputText'+i).val()
                    }
                  }

                  submitBrickList.push(brickJson);
                }
              });
            }
          }
        }
      })

      //make send jsonData
      var submitData = {
        "type": "bricks",
        "name": baseInfo_name,
        "desc": baseInfo_context,
        "data": {
          "brick": JSON.parse(JSON.stringify(submitBrickList)),
          "custom_settings": {
            "get_started": user_profile_start_message_result,
            "error_msg": user_profile_not_ready_mesage_result
          }
        },

      };

      console.log('submitData=>' + JSON.stringify(submitData));
      //send jsonData in brick api
      $.ajax({
        url: 'https://www.chatbrick.io/api/brick/',
        type: 'PUT',
        async: false,
        crossDomain: true,
        contentType: 'application/json',
        dataType: 'JSON',
        data: JSON.stringify(submitData),
        success: function (body, status, res) {
          if (body.success) {
            console.log('upload success!');
            var request_query = '?setId='+body.data.id;
            window.location.href = '/platform/connect'+request_query;
          }
        }
      });
    }

    window.location.hash = pageNumber.toString();
  });

  function checkForHash() {
    if (document.location.hash) {
      var hashNumber = document.location.hash;
      hashNumber = hashNumber.replace('#', '');

      if (hashNumber == '0') {
        page_select_bricks.show();
        page_bricks_apikey.hide();
        page_bricks_confirm_apikey.hide();
        // page_bricks_platform.hide();
      } else if (hashNumber == '1') {
        page_select_bricks.hide();
        page_bricks_apikey.show();
        page_bricks_confirm_apikey.hide();
        // page_bricks_platform.hide();
      } else if (hashNumber == '2') {
        page_select_bricks.hide();
        page_bricks_apikey.hide();
        page_bricks_confirm_apikey.show();
        // page_bricks_platform.hide();
      } else if (hashNumber == '3') {
        page_select_bricks.hide();
        page_bricks_apikey.hide();
        page_bricks_confirm_apikey.hide();
        // page_bricks_platform.show();
      }
    } else {
      page_select_bricks.show();
      page_bricks_apikey.hide();
      page_bricks_confirm_apikey.hide();
      // page_bricks_platform.hide();
    }
  }

</script>
<script type="text/javascript" src="/public/javascripts/footer_mouseover.js"></script>
</body>
</html>