<!DOCTYPE html>
<html lang="kr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>
<body>
<header id="header">
	<div class="wrapper wrapper_header">
		<div class="top_01 top_common">
			<img id="logo" src="../public/images/img-chatbrick-logo.png" alt="logo">
			<img id="login_logo" src="../images/test_img.png" alt="login_logo">
			<!--<div id="login_name" name="login_name"></div>-->
			<img id="login_dropdown" alt="login_dropdown">
		</div>

		<div class="top_02 top_common">
			<div class="top_02 title_area">
				<div id="title">CREAT CHATBOT</div>
				<div id="sub_title">| API KEY 입력하기</div>
			</div>
			<div id="context">
				<p>
					선택한 BRICK이 원할하게 동작하기 위해서는 해당 BRICK에 필요로 하는 항목들을 입력하셔야 해요.
					기존에 API KEY를 보유하고 있지 않다면 BRICK의 아래에 위치한 API KEY 신청하기 버튼을 통해 해당 웹페이지로 이동할 수 있어요.
					건너뛰기를 하시면 BRICK의 사용 횟수 제한 등의 제약사항이 있을 수 있어요.
				</p>
			</div>
		</div>
	</div>
</header>

<div id="content">
	<div class="wrapper_section _apikey_section">
		<section id="section_01">
			<div class="content_title">
				<p>
					API KEY
				</p>
			</div>

			<div class="wrapper_article _apikey_wrapper">
				<article id="article_01" class="_article">

					<div class="wrapper">

						<!--start api_set area-->
						<div class="api_set">
							<div class="api_title">
								<img src="http://localhost:63342/cb-web/dist/5fae83177ae663a55094e3b89b5255ee.png"
										 class="api_img">
								<div class="api_name">날씨정보</div>
							</div>
							<div class="api_content">
								<div class="api_content_context">
									<p>
										Shows search results for a request. You can use a specific request or
										a user attribute saved in a «User input», «Quick Reply» or «Setup user attribute» plugins.
									</p>
								</div>
								<div class="api_content_key_title">
									API KEY
								</div>
								<input type="text" class="apikeyInputText" placeholder="발급받은 API KEY를 입력해주세요.">
								<a href="https://www.linkedin.com" class="create_apikey_link">
									<p>
										API KEY 신청하기
									</p>
								</a>
							</div>
							<hr class="apikey_underline">
						</div>
						<!--end api_set area-->

						<!--start api_set area-->
						<div class="api_set">
							<div class="api_title">
								<img src="http://localhost:63342/cb-web/dist/5fae83177ae663a55094e3b89b5255ee.png"
										 class="api_img">
								<div class="api_name">날씨정보</div>
							</div>
							<div class="api_content">
								<div class="api_content_context">
									<p>
										Shows search results for a request. You can use a specific request or
										a user attribute saved in a «User input», «Quick Reply» or «Setup user attribute» plugins.
									</p>
								</div>
								<div class="api_content_key_title">
									API KEY
								</div>
								<input type="text" class="apikeyInputText" placeholder="발급받은 API KEY를 입력해주세요.">
								<a href="https://www.linkedin.com" class="create_apikey_link">
									<p>
										API KEY 신청하기
									</p>
								</a>
							</div>
							<hr class="apikey_underline">
						</div>
						<!--end api_set area-->

						<!--start api_set area-->
						<div class="api_set">
							<div class="api_title">
								<img src="http://localhost:63342/cb-web/dist/5fae83177ae663a55094e3b89b5255ee.png"
										 class="api_img">
								<div class="api_name">날씨정보</div>
							</div>
							<div class="api_content">
								<div class="api_content_context">
									<p>
										Shows search results for a request. You can use a specific request or
										a user attribute saved in a «User input», «Quick Reply» or «Setup user attribute» plugins.
									</p>
								</div>
								<div class="api_content_key_title">
									API KEY
								</div>
								<input type="text" class="apikeyInputText" placeholder="발급받은 API KEY를 입력해주세요.">
								<a href="https://www.linkedin.com" class="create_apikey_link">
									<p>
										API KEY 신청하기
									</p>
								</a>
							</div>
							<hr class="apikey_underline">
						</div>
						<!--end api_set area-->

						<!--start api_set area-->
						<div class="api_set">
							<div class="api_title">
								<img src="http://localhost:63342/cb-web/dist/5fae83177ae663a55094e3b89b5255ee.png"
										 class="api_img">
								<div class="api_name">날씨정보</div>
							</div>
							<div class="api_content">
								<div class="api_content_context">
									<p>
										Shows search results for a request. You can use a specific request or
										a user attribute saved in a «User input», «Quick Reply» or «Setup user attribute» plugins.
									</p>
								</div>
								<div class="api_content_key_title">
									API KEY
								</div>
								<input type="text" class="apikeyInputText" placeholder="발급받은 API KEY를 입력해주세요.">
								<a href="https://www.linkedin.com" class="create_apikey_link">
									<p>
										API KEY 신청하기
									</p>
								</a>
							</div>
							<hr class="apikey_underline">
						</div>
						<!--end api_set area-->

					</div>
				</article>
			</div>
		</section>
	</div>

</div>

<footer id="footer">
	<div class="bottom_common">
		<div id="pre_page">
			<p>
				이전
			</p>
		</div>
		<div id="next_page" align="center">
			<p>
				다음
			</p>
		</div>
	</div>
</footer>

<script>
  // $.ajax({
  //   url : 'https://chatbrick.io/api/brick/list/',
  //   type : 'GET',
  //   success : function(body, status, res) {
  //
  //     console.log(status.success);
  //     console.log(body.data[0].name);
  //     if (status.success) {
  //       //TODO: TEST CODE
  //       set_bricks.show();
  //
  //       body.data.forEach( function (item) {
  //
  //       })
  //     }
  //   }
  // });
</script>
</body>
</html>