<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>chatbrick</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script>

    function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
      if (response.status === 'connected') {
        // alert('connected!2');
        getFBAPI();

      } else if (response.status === 'not_authorized') {
         window.location.href  = 'https://www.chatbrick.io';
        // window.location.href = 'http://www.localhost:3000';
      } else {
         window.location.href  = 'https://www.chatbrick.io';
        // window.location.href = 'http://www.localhost:3000';
      }
    }

    function getFBAPI() {
      console.log('Welcome! Fetching your information.... ');
      FB.api('/me', function (response) {
        console.log('Successful login for: ' + response.id);

        $.ajax({
          url : 'https://chatbrick.io/api/login/',
          type : 'POST',
          dataType: 'JSON',
          crossDomain: true,
          // xhrFields: { withCredentials: true },
          data : { fb_id : response.id},
          success : function(data, textStatus, xhr) {

            // var Cookies = xhr.getResponseHeader('Set-Cookie');
            // console.log('Cookies=>' + Cookies);

            $.ajax({
              url : 'https://www.chatbrick.io/api/brick/',
              type : 'GET',
              success : function (data, textStatus, xhr) {
                alert('res=>' + JSON.stringify(xhr));
                window.location.href = "/chatbot/list";
              }
            })

            // window.location.href = "/chatbot/list";
          }
        });
      });

//      FB.api('/1111672078935704/accounts', function (response) {
//        console.log('Successful page info for: ' + JSON.stringify(response));
//      });
//
//      FB.api('/1111672078935704/permissions', function (response) {
//        console.log('Successful permissions info for: ' + JSON.stringify(response));
//      });
    }

    function login() {
      FB.login(function(response) {

        // handle the response
        console.log("Response goes here!");
        console.log(response)
      }, {scope: 'public_profile, pages_manage_cta, pages_manage_instant_articles,' +
      'pages_messaging, pages_messaging_subscriptions, pages_messaging_phone_number,' +
      'manage_pages, pages_show_list,read_insights'});
    }
  </script>
</head>


<body id="content">
<button onclick="javascript:login();">Login Facebook</button>
<input type="button" id="hw" value="Hello world" />
<script type="text/javascript" src="/public/javascripts/connect_facebook.js"></script>
<script type="text/javascript" src="/public/javascripts/index.js"></script>

</body>

</html>
