<!DOCTYPE html>
<html lang="kr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

</head>
<body>
<header id="header">
  <div class="wrapper wrapper_header">
    <div class="top_01 top_common">
      <img id="logo" class="logo" src="../public/images/img-chatbrick-logo.png" alt="logo">

      <div class="top_01 top_user_profile_common">
        <img id="login_logo" class="login_logo" src="../public/images/test_img.png" alt="login_logo">
        <div id="login_name" class="login_name" name="login_name"><p id="login_name_text"></p></div>
        <img id="login_dropdown" class="login_dropdown" src="../public/images/btn-dropdown-down.png" alt="login_dropdown">
      </div>
    </div>

    <div class="top_02 top_common">
      <div class="top_02 title_area">
        <div id="title">CREAT CHATBOT</div>
        <div id="sub_title">| 기본정보 입력 및 선택</div>
      </div>
      <div id="context">
        <p>
          챗봇 생성 첫번째 단계로 생성하려는 챗봇의 이름, 설명을 입력하고 봇에 적용할 세트를 선택할 수 있어요.
          세트 선택하기 버튼 옆의 “미리보기” 버튼을 클릭하여 해당 세트를 체험해 볼 수 있어요.
        </p>
      </div>
    </div>
  </div>
</header>

<div id="content">
  <div class="wrapper_section _baseInfo_section">
    <section id="section_01">
      <div class="content_title">
        <p>
          기본정보
        </p>
      </div>

      <div class="wrapper_article _baseInfo_wrapper">
        <article id="article_01" class="_article">

          <div class="wrapper">
            <div class="baseInfo_01 article_title">
              <p>
                이름
              </p>
            </div>
            <input type="text" id="baseInfo_name" class="baseInputText" placeholder="가나다">

            <div class="baseInfo_02 article_title">
              <p>
                설명
              </p>
            </div>
            <input type="text" id="baseInfo_context_01" class="baseInputText baseInfo_placeHolder testInput" placeholder="가나다" maxlength=50>
            <input type="text" id="baseInfo_context_02" class="baseInputText baseInfo_placeHolder testInput" placeholder="가나다" maxlength=50>

          </div>
        </article>
      </div>
    </section>
  </div>

  <div class="wrapper_section _choice_set_section">
    <section id="section_02">
      <div class="content_title">
        <p>
          SET 선택
        </p>
      </div>

      <div class="wrapper_article _choice_set_wrapper">
        <article id="article_02" class="_article">
          <div class="wrapper">
            <div class="set_list" id="set_list">
              <!--item hackathon-->
              <div id="set_hackathon" class="set_item">
                <img src="../public/images/img-hackathon.png"
                     id="hackathon_image" class="set_item_img" alt="set image">
                <div id="hackathon_name" class="set_item_name">
                  <p>HACKATHON</p>
                </div>
                <div id="hackathon_context" class="set_item_context">
                  <p>
                    해커톤을 운영하면서 필요한 참여자 모집 ,
                    행사정보 안내, 후원사모집 등의 다양한
                    업무를 보조하는 챗봇 세트
                  </p>
                </div>

                <div class="set_item_event">
                  <div id="hackathon_choice" class="set_choice">
                      세트선택하기
                  </div>
                  <div id="hackathon_preview" class="set_preview">
                    <img src="../public/images/btn-preview-01-nor.png"
                         alt="preview_img">
                  </div>
                </div>
              </div>

              <!--item designer portfolio-->
              <div id="set_designer_portfolio" class="set_item">
                <img src="../public/images/img-designer-portfolio-01.png"
                     id="designer_portfolio_image" class="set_item_img" alt="set image">
                <div id="designer_portfolio_name" class="set_item_name">
                  <p>DESIGNER
                    PORTFOLIO</p>
                </div>
                <div id="designer_portfolio_context" class="set_item_context">
                  <p>
                    디자이너가 자신의 포트폴리오 및
                    이력서를 알리기 위한 챗봇 세트
                  </p>
                </div>

                <div class="set_item_event">
                  <div id="designer_portfolio_choice" class="set_choice">
                      세트선택하기
                  </div>
                  <div id="designer_portfolio_preview" class="set_preview">
                    <img src="../public/images/btn-preview-01-nor.png"
                         alt="preview_img">
                  </div>
                </div>
              </div>

              <!--item bricks-->
              <div id="set_bricks" class="set_item">
                <img src="../public/images/img-bricks.png"
                     id="bricks_image" class="set_item_img" alt="set image">
                <div id="bricks_name" class="set_item_name">
                  <p>BRICKS</p>
                </div>
                <div id="bricks_context" class="set_item_context">
                  <p>
                    CHATBRICK에서 지원하는 다양한 브릭들을
                    조합하여 자신에게 필요한 챗봇을 제작할 수 있는 세트
                  </p>
                </div>

                <div class="set_item_event">
                  <div id="bricks_choice" class="set_choice">
                      세트선택하기
                  </div>
                  <div id="bricksn_preview" class="set_preview">
                    <img src="../public/images/btn-preview-01-nor.png"
                         alt="preview_img">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section>
  </div>

  <!--디바이스 모양 팝업-->

  <div id="modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">

      <div class="modal_device_wapper">
        <img src="../public/images/img-device.png" id="modal_device_img" class="device_img">
        <div class="modal_device_content">
          <div class="modal_device_set_content">

            <div class="modal_device_set_title_area">
              <div class="modal_device_set_title">
                | SET DEMO
              </div>
              <div class="modal_device_set_name" id="modal_device_set_name">
                : HACKATHON
              </div>
            </div>
            <img src="../public/images/img-hackathon.png" class="modal_device_set_img">
          </div>

          <hr class="modal_device_underline">
          <div class="modal_device_context_desc">
            Build a Facebook bot without coding. Launch a full-featured <br>
            chatbot in 7 minutes. We believe in the power of chatbots to<br>
            strengthen your connection to your audience—whether <br>
            that's your customers, readers, fans, or others. <br>
            And we're committed to making that as easy as we can.
          </div>
        </div>

        <img src="../public/images/btn-close-nor.png" id="close_modal_img" class="close_modal_img">
      </div>
    </div>
  </div>

  <!--디폴트 모양 팝업-->
  <div id="default_modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">

      <div class="modal_title">확인</div>
      <div class="modal_context">올바르지 않은 항목이 존재합니다. (미입력, 잘못입력된 항목)</div>
      <div id="modal_one_btn" class="modal_one_btn">
        <p>확인</p></div>
    </div>
  </div>
</div>

<footer id="footer">
  <div class="bottom_common">
    <div id="pre_page">
      <p>
        봇 생성 취소
      </p>
    </div>
    <div id="next_page">
      <p>
        다음
      </p>
    </div>
  </div>
</footer>

<script type="text/javascript">
  $('input[type=text]').addClass('placeholder');

  var baseInfo_name = $('#baseInfo_name');
  var baseInfo_context;
  var baseInfo_context_01 = $('#baseInfo_context_01');
  var baseInfo_context_02 = $('#baseInfo_context_02');

  //hide placeholder
  $('.baseInfo_placeHolder').keydown(function (key) {
    $('.baseInfo_placeHolder').addClass('transparent');

  });

  $('.testInput').keyup (function () {
    var charLimit = $(this).attr("maxlength");
    if (this.value.length >= charLimit) {
      $(this).next('.testInput').focus();
      return false;
    }
  });


  checkForHash();

  function checkForHash() {
    if(document.location.hash){
      var hashLocation = document.location.hash;
      hashLocation = hashLocation.replace("#","");

      var hashValues = hashLocation.split("&");
      var hashName = hashValues[0];
      var hashDesc1 = hashValues[1];
      var hashDesc2 = hashValues[2];
      console.log('hashName=>' + hashName + 'hashDesc1=>' + hashDesc1 + 'hashDesc2=>' + hashDesc2);
      baseInfo_name.text(hashName);
      baseInfo_context_01.text(hashDesc1);
      baseInfo_context_02.text(hashDesc2);

      baseInfo_context = baseInfo_context_01.val() + " " + baseInfo_context_02.val();
    } else {
      console.log('no hash!');
    }
  }

  var login_logo = $('#login_logo');
  var login_name = $('#login_name_text');
  var login_dropdown = $('#login_dropdown');

  $.ajax({
    url: 'https://www.chatbrick.io/api/login/',
    type: 'GET',
    async: false,
    crossDomain: true,
    xhrFields: {withCredentials: true},
    success: function (body, status, res) {
      if (body.success) {
        login_logo.attr("src", body.facebook.fb_profile);
        login_name.text(body.facebook.fb_name);
      }
    }
  });

  var set_list = $('#set_list');
  var set_hackathon = $('#set_hackathon');
  var set_designer_portfolio = $('#set_designer_portfolio');
  var set_bricks = $('#set_bricks');
  var set_preview = $('.set_preview');
  var modal_device_set_name = $('#modal_device_set_name');

  var hackathon_choice = $('#hackathon_choice');
  var designer_portfolio_choice = $('#designer_portfolio_choice');
  var bricks_choice = $('#bricks_choice');
  var pre_page = $('#pre_page');
  var next_page = $('#next_page');

  set_preview.click(function () {

    $(this).toggleClass("press");
    modal.style.display = "block";
  });
  $(document).on('click', '.press', function () {
    var itemIndex = $(this).parent().parent().index();
    console.log('itemIndex=>' + itemIndex);

    if (itemIndex == '0') {
      modal_device_set_name.text('HACKATHON');
    } else if (itemIndex == '1') {
      modal_device_set_name.text('DESIGNER PORTFOLIO');
    } else if (itemIndex == '2') {
      modal_device_set_name.text('BRICKS');
    }
    // modal_device_set_img.attr("src", resData[itemIndex].img);
    // modal_device_set_name.text(resData[itemIndex].name);
    // modal_device_context_desc.text(resData[itemIndex].preview.desc);
  });

  close_modal_img.onclick = function () {
    modal.style.display = "none";
  }


  set_preview.hover(function () {
    $(this).css('background-color', '#fb7c7e');
  }, function () {
    $(this).css('background-color', '#e94d50');
  });


  hackathon_choice.click(function () {
    set_list.val("hackathon_choice");
    $(this).css('background-color', '#000000');
    next_page.css('background-color', '#fd6246');
    next_page.hover(function () {
      next_page.css('background-color', '#fb7c7e');
    }, function () {
      next_page.css('background-color', '#fd6246');
    });
     $(this).text('선택해제 하기');

    designer_portfolio_choice.css('background-color', '#ff753c');
     designer_portfolio_choice.text('세트선택하기');
    bricks_choice.css('background-color', '#ff753c');
     bricks_choice.text('세트선택하기');

  });

  designer_portfolio_choice.click(function () {
    set_list.val("designer_portfolio_choice");
    $(this).css('background-color', '#000000');
    next_page.css('background-color', '#fd6246');
    next_page.hover(function () {
      next_page.css('background-color', '#fb7c7e');
    }, function () {
      next_page.css('background-color', '#fd6246');
    });
     $(this).text('선택해제 하기');

    hackathon_choice.css('background-color', '#ff753c');
     hackathon_choice.text('세트선택하기');
    bricks_choice.css('background-color', '#ff753c');
     bricks_choice.text('세트선택하기');
  });


  bricks_choice.click(function () {
    set_list.val("bricks_choice");
    $(this).css('background-color', '#000000');
    next_page.css('background-color', '#fd6246');
    next_page.hover(function () {
      next_page.css('background-color', '#fb7c7e');
    }, function () {
      next_page.css('background-color', '#fd6246');
    });
     $(this).text('선택해제 하기');

    designer_portfolio_choice.css('background-color', '#ff753c');
     designer_portfolio_choice.text('세트선택하기');
    hackathon_choice.css('background-color', '#ff753c');
     hackathon_choice.text('세트선택하기');
  });


  if (set_list.val() != "hackathon_choice"
    && set_list.val() != "designer_portfolio_choice"
    && set_list.val() != "bricks_choice") {
    next_page.css('background-color', '#c0c0c0');
  } else {
    next_page.hover(function () {
      next_page.css('background-color', '#fb7c7e');
    }, function () {
      next_page.css('background-color', '#fd6246');
    });
  }

  pre_page.click(function () {
    $(this).css('background-color', '#bd292c');
    window.location.href = '/chatbot/list';
  });
  pre_page.hover(function () {
    pre_page.css('background-color', '#fb7c7e');
  }, function () {
    pre_page.css('background-color', '#ff753c');
  });


  next_page.click(function () {
    $(this).css('background-color', '#bd292c');

    var hashData = baseInfo_name.val() + '&' + baseInfo_context_01.val() + '&' + baseInfo_context_02.val();
    var request_query = '?baseInfo_name='+baseInfo_name.val()+'&baseInfo_context='+baseInfo_context_01.val() + baseInfo_context_02.val();

    console.log('request_query=>' + request_query);

    if (set_list.val() != '' &&(baseInfo_name.val() == '' || baseInfo_context_01.val() == '')) {
      console.log('in popup')
      var default_modal = document.getElementById('default_modal');
      var modal_one_btn = $('#modal_one_btn');

      default_modal.style.display = "block";

      modal_one_btn.hover(function () {
        $(this).css('background-color', '#fb7c7e');
      }, function () {
        $(this).css('background-color', '#ff753c');
      });

      modal_one_btn.click(function () {
        default_modal.style.display = "none";
      });
    } else {
      if (set_list.val() == "hackathon_choice") {
        window.location.href = '/hackathon/create' + request_query;
        document.location.hash = hashData;

      } else if (set_list.val() == "designer_portfolio_choice") {
        // console.log(request_query);
        window.location.href = '/designerPortfolio/create' + request_query;
        document.location.hash = hashData;

      } else if (set_list.val() == "bricks_choice") {
        window.location.href = '/bricks/create' + request_query;
        document.location.hash = hashData;

      } else {
        next_page.css('background-color', '#c0c0c0');
      }
    }
  });
</script>

<!--<script type="text/javascript" src="/public/javascripts/my_chatbot_create.js"></script>-->
<!--<script type="text/javascript" src="/public/javascripts/footer_mouseover.js"></script>-->
</body>
</html>