<!DOCTYPE html>
<html lang="kr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="../public/secret/config.js"></script>
	<script type="text/javascript" src="/public/javascripts/href_event.js"></script>
</head>
<body>
<header id="header">
	<div class="wrapper wrapper_header">
		<div class="top_01 top_common">
			<img id="logo" class="logo" src="../public/images/img-chatbrick-logo.png" alt="logo">

			<div class="top_01 top_user_profile_common">
				<img id="login_logo" class="login_logo" src="../public/images/test_img.png" alt="login_logo">
				<div id="login_name" class="login_name" name="login_name"><p id="login_name_text"></p></div>
				<img id="login_dropdown" class="login_dropdown" src="../public/images/btn-dropdown-down.png" alt="login_dropdown">
			</div>
		</div>

		<div class="top_02 top_common">
			<div class="top_02 title_area">
				<div id="title">MY CHATBOT</div>
			</div>
			<div id="context">
				<p>
					“MY CHATBOT”에서는 기존에 생성한 챗봇들 중에서 수정을 원하는 아이콘을 클릭하여 해당하는 챗봇의 설정을 수정할 수 있고,
					“CREATE BOT”을 클릭하여 새로운 챗봇을 생성할 수 있어요.
				</p>
			</div>
		</div>
	</div>
</header>

<div id="content">
	<div class="wrapper_section _my_chatbot_list_section">
		<section id="section_01">
			<div class="section_01 botlist" id="botlist">
				<!--<div id="my_bot">-->
				<!--<img src="http://localhost:63342/cb-web/dist/5fae83177ae663a55094e3b89b5255ee.png" id="bot_image" alt="bot image">-->
				<!--<div id="bot_name">BOT_01</div>-->
				<!--<div id="bot_context">내가 만든 HACKATHON BOT_01</div>-->
				<!--</div>-->
			</div>
		</section>
	</div>
</div>

<!--로그아웃 모양 팝업-->
<div id="logout_modal" class="modal">
	<!-- Modal content -->
	<div class="modal-content">

		<div class="modal_title">로그아웃</div>
		<div class="modal_context">chatbrick에서 로그아웃하시겠어요?</div>
		<div class="modal_brick_api_two_btn_area">
			<div id="modal_left_logout_btn" class="modal_left_btn">
				<p>아니요</p>
			</div>

			<div id="modal_right_logout_btn" class="modal_right_btn">
				<p>네</p>
			</div>
		</div>
	</div>
</div>

<!--에러 모양 팝업-->
<div id="default_error_modal" class="modal">
	<!-- Modal content -->
	<div class="modal-content">

		<div class="modal_title">확인</div>
		<div class="modal_context" id="modal_error_context"></div>
		<div id="modal_one_error_btn" class="modal_one_btn">
			<p>확인</p></div>
	</div>
</div>

<!--서버에러 모양 팝업-->
<div id="default_server_error_modal" class="modal">
	<!-- Modal content -->
	<div class="modal-content">

		<div class="modal_title">확인</div>
		<div class="create_context_area">
			<div class="server_error_modal_context_01">에러가 발생했어요.</div>
			<div class="server_error_modal_context_02">잠시후 다시 시도해주세요.</div>
		</div>
		<!--<div class="modal_context">올바르지 않은 항목이 존재합니다. (미입력, 잘못입력된 항목)</div>-->
		<div id="modal_one_server_error_btn" class="modal_one_btn">
			<p>확인</p></div>
	</div>
</div>

<footer id="footer"></footer>

<script>
	$('#logo').click(function () {
    logoClickSendHomeEvent();
  });

	var login_logo = $('#login_logo');
	var login_name = $('#login_name_text');
	var login_dropdown = $('#login_dropdown');
  var botlist = $('#botlist');
  var createMyBot = (`<div id="create_my_bot">` +
  `<img src="../public/images/img-create-bot-nor.png"+ id="bot_image" class="bot_image" alt="bot image">` +
  `<div class="bot_name">` + "CREATE BOT" + `</div>` +
  `</div>`);

  $.ajax({
    url : 'https://www.chatbrick.io/api/brick/',
    type : 'GET',
    async: false,
    crossDomain: true,
    xhrFields: { withCredentials: true },
    success : function(body, status, res) {
      console.log('body2=>' + JSON.stringify(body.facebook));
//      console.log('fb_profile=>' + body.facebook.fb_profile);
      if (body.success) {

        login_logo.attr("src", body.facebook.fb_profile);
        login_name.text(body.facebook.fb_name);

        body.data.forEach(function (item, index, array) {

          var bot_img = "";
          switch (item.type) {
            case "hackathon":
              bot_img = "../public/images/img-hackathon.png";
              break;
            case "portfolio":
              bot_img = "../public/images/img-designer-portfolio-01.png";
              break;
            case "bricks":
              bot_img = "../public/images/img-bricks.png";
              break;
          }

          var myBot = (
            `<div id="my_bot`+index+`" class="my_bot">` +
            `<img src="` + bot_img + `"+ class="bot_image" alt="bot image">` +
            `<div class="bot_name">` + item.name + `</div>` +
            `<div class="bot_context">` + item.desc + `</div>` +
            `</div>`
          );

          botlist.append(myBot);

          $(document).on('click',"#my_bot"+index, function () {
            $(this).css('background-color', '#ffffff');
            //edit page
          });

          $("#my_bot"+index).on({
            mouseenter: function () {
              //stuff to do on mouse enter
              $(this).css('background-color', '#e7e7e7');
            },
            mouseleave: function () {
              //stuff to do on mouse leave
              $(this).css('background-color', '#f3f3f3');
            }
          });

          $("#my_bot"+index).click(function () {
						var setId = body.data[index].id;
						console.log('itemId=>' + setId);
						console.log('item.type=>'+ item.type);
            switch (item.type) {
              case "hackathon":
                // console.log('hackathon')
                // window.location.href = '/edit';
                window.location.href = '/hackathon/edit'+ '?setId='+setId;
                break;
              case "portfolio":
                // console.log('portfolio')
                window.location.href = '/designerPortfolio/edit'+ '?setId='+setId;
                break;
              case "bricks":
                // console.log('bricks')
                window.location.href = '/bricks/edit'+ '?setId='+setId;
                break;
            }
          });


        });
        botlist.append(createMyBot);
      } else {
        if (body.action == 'ERR0002') {
          var default_error_modal = document.getElementById('default_error_modal');
          var modal_one_error_btn = $('#modal_one_error_btn');

          default_error_modal.style.display = "block";
          $('#modal_error_context').text(body.msg);


          modal_one_error_btn.hover(function () {
            $(this).css('background-color', '#fb7c7e');
          }, function () {
            $(this).css('background-color', '#ff753c');
          });

          modal_one_error_btn.click(function () {
            default_error_modal.style.display = "none";
          });
				}
			}
    }
    ,error:function(request,status,error) {
      var default_server_error_modal = document.getElementById('default_server_error_modal');
      var modal_one_server_error_btn = $('#modal_one_server_error_btn');

      default_server_error_modal.style.display = "block";

      modal_one_server_error_btn.hover(function () {
        $(this).css('background-color', '#fb7c7e');
      }, function () {
        $(this).css('background-color', '#ff753c');
      });

      modal_one_server_error_btn.click(function () {
        default_server_error_modal.style.display = "none";
      });
    }
  });

  var create_my_bot = $('#create_my_bot');
  console.log(botlist);


  create_my_bot.click(function () {
    create_my_bot.css('background-color', '#ffffff');

    window.location.href = '/chatbot/create';
  });
  create_my_bot.hover(function () {
    create_my_bot.css('background-color', '#e7e7e7');
  }, function () {
    create_my_bot.css('background-color', '#f3f3f3');
  });


  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    if (response.status === 'connected') {
      console.log('connected!')
      // alert('connected!2');
      // getFBAPI();
//      window.location.href = '/chatbot/list';

    } else if (response.status === 'not_authorized') {
      console.log('not_authorized!')
       window.location.href  = '/';
      // window.location.href = 'http://www.localhost:3000';
    } else {
      console.log('connected error!')
       window.location.href  = '/';
      // window.location.href = 'http://www.localhost:3000';
    }
  }

  //logout event
  var logout_modal = document.getElementById('logout_modal');
  var modal_left_logout_btn = $('#modal_left_logout_btn');
  var modal_right_logout_btn = $('#modal_right_logout_btn');

  login_dropdown.click(function () {
    logout_modal.style.display = "block";
  });

  modal_left_logout_btn.hover(function () {
    $(this).css('background-color', '#fb7c7e');
  }, function () {
    $(this).css('background-color', '#ff753c');
  });

  modal_right_logout_btn.hover(function () {
    $(this).css('background-color', '#fb7c7e');
  }, function () {
    $(this).css('background-color', '#fd6246');
  });

  modal_left_logout_btn.click(function () {
    logout_modal.style.display = "none";
  });

  modal_right_logout_btn.click(function () {
    FB.logout(function(response) {
      console.log('logout=>' + JSON.stringify(response));
      window.location.href = '/';
    });
  });
</script>
<script type="text/javascript" src="/public/javascripts/connect_facebook.js"></script>
</body>
</html>