<!DOCTYPE html>
<html lang="kr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Title</title>
  <!--<link rel="stylesheet" href="../css/style.css">-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="../public/javascripts/index.js"></script>
</head>
<body>
<header id="header">
  <div class="wrapper wrapper_header">
    <div class="top_01 top_common">
      <img id="logo" src="../images/test_img.png" alt="logo">
      <img id="login_logo" src="../images/test_img.png" alt="login_logo">
      <!--<div id="login_name" name="login_name"></div>-->
      <img id="login_dropdown" alt="login_dropdown">
    </div>

    <div class="top_02 top_common">
      <div class="top_02 title_area">
        <div id="title">MY CHATBOT</div>
      </div>
      <div id="context">
        <p>
          “MY CHATBOT”에서는 기존에 생성한 챗봇들 중에서 수정을 원하는 아이콘을 클릭하여 해당하는 챗봇의 설정을 수정할 수 있고,
          “CREATE BOT”을 클릭하여 새로운 챗봇을 생성할 수 있어요.
        </p>
      </div>
    </div>
  </div>
</header>

<div id="content">
  <div class="wrapper_section _my_chatbot_list_section">
    <section id="section_01">
      <div class="section_01 botlist" id="botlist">
        <!--<div id="my_bot">-->
        <!--<img src="http://localhost:63342/cb-web/dist/5fae83177ae663a55094e3b89b5255ee.png" id="bot_image" alt="bot image">-->
        <!--<div id="bot_name">BOT_01</div>-->
        <!--<div id="bot_context">내가 만든 HACKATHON BOT_01</div>-->
        <!--</div>-->
      </div>
    </section>
  </div>
</div>

<footer id="footer"></footer>

<script type="text/javascript" src="/public/javascripts/my_chatbot_list.js"></script>
</body>
</html>