.hello {
    color: red;
    /*background: url("../images/test_img.png");*/
}

body {
    background-color: #f3f3f3;
}

/*
header zone
*/
#header {
    background-color:#f3f3f3;

}

div.wrapper_header {
    width:880px;
    height:180px;
    display: table;
    /*background-color:red;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 67px;
}

div.top_01 #logo {
    display: inline-block;
    float: left;
}

div.top_01 #login_logo {
    display: inline-block;
    float: right;
}
/*#login_name {*/
    /*text-align: right;*/
/*}*/
div.top_01 #login_dropdown {
    display: inline-block;
    float: right;
}

div.top_02 {
    margin-top: 65.9px;
}
div.top_02 #title {
    width:336px;
    height:59px;
    font-size:40px;
    font-weight:900;
    color: #000000;
    font-family: NotoSansCJKkr;
    text-align: left;
    float:left;
}

div.top_02 #sub_title {
    width: auto;
    height:29px;
    font-size:20px;
    font-weight:900;
    color: #000000;
    font-family: NotoSansCJKkr;
    float:left;
    text-align: left;
    margin-left: 28px;
    margin-top: 23px;
}

div.top_02 #context {
    width: 810px;
    height: 40px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    float: left;
}

/*
content zone
*/
#content {
    background-color: #f3f3f3;
}

._connect_linkedin_section {
    height:627px;
    background-color: #f3f3f3;
}

#section_01 {
    width:880px;
    height:auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
div.content_title {
    width: auto;
    height: 27px;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    margin-bottom: 18px;
}

._connect_linkedin_wrapper {
    height: 470px;
    background-color: #ffffff;
}

._article {
    width:880px;
    height:auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;

    border-top: 1px solid #000000;
}

._article div.wrapper {
    margin-top: 61px;
    margin-left: 90px;
}
._article div.article_title {
    /*width: 121px;*/
    width: auto;
    height: 27px;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
._article div.article_title_profile {
    width: auto;
    height: 27px;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    margin-top: 31px;
}

#btn_linkedin {
    width: 200px;
    height: 38.8px;
    text-align: center;
    margin-top: 34px;
}

._article div.article_context {

    width: 700px;
    height: 60px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 29.2px;
}

._article a.linkedin_membership {
    width: 114px;
    height: 18px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fd6246;
    margin-top: 10px;
}

hr.article_line {
    /*width: 700px;*/
    border-bottom: 1px;
    border-bottom-color: #eaeaea;
    margin-top: 37px;
    margin-right: 90px;
}

._article div.article_clause_title {
    width: 700px;
    height: 26px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 30px;
}

._article div.article_clause_context {
    width: 700px;
    height: 24px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 7px;
}

#section_01 div.botlist {
    margin-left: 10px;
}

div.botlist #my_bot {
    /*width: 200px;*/
    height: 318px;
    float: left;
    width: 25%
}

#my_bot #bot_image {
    width: auto;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 0 auto;}


#my_bot #bot_name {
    width: auto;
    height: 20px;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

#my_bot #bot_context {
    width: auto;
    height: 60px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.article_title {
    width: 34px;
    height: 27px;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

._baseInfo_wrapper {
    height: 358px;
    background-color: #ffffff;
}

.baseInputText {

    width: 700px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #000000;
    margin-top: 11px;
    padding-bottom:11px;
}

.baseInputText_02 {
    width: 700px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #000000;
    margin-top: 11px;
    padding-bottom:11px;
}

._baseInfo_section {
    height: 403px;
    background-color: #f3f3f3;
    margin-bottom: 45px;
}
#article_baseInfo {
    width:880px;
    height:358px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    background-color: #ffffff;

    border-top: 1px solid #000000;
}

#section_02 {
    width:880px;
    height:auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#section_03 {
    width:880px;
    height:auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#section_04 {
    width:880px;
    height:auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#section_05 {
    width:880px;
    height:auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#section_06 {
    width:880px;
    height:auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

._choice_set_section {
    height: 597px;
    background-color: #f3f3f3;
    margin-bottom: 78px;
}

._choice_set_wrapper {
    height: 552px;
    background-color: #ffffff;

}

div.set_list {
    height: 394px;
}

div.set_list div.set_item {
    width: 200px;
    /*width: 33.3%;*/
    float: left;
}

#set_hackathon {
    margin-right: 45px;
}
#set_designer_portfolio {
    margin-right: 45px;
}

div.set_list div.set_item_img {
    width: 200px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;

}

div.set_list div.set_item_name {
    width: auto;
    height: 22px;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

    margin-top: 9px;
    margin-bottom: 25px;
}

div.set_list div.set_item_context {
    width: auto;
    height: 67px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

    padding-top:6px;
    border-top: 1px solid #d8d8d8;
    margin-bottom: 40px;
}

div.set_list div.set_item_event {
    width:200px;
    height:32px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

div.set_list div.set_choice {
    width: 120px;
    height: 32px;
    background-color: #fd6246;
    float: left;
    margin-right: 4px;

    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

div.set_list div.set_preview {
    width:60px;
    height: 32px;
    background-color: #e94d50;
    float: left;

    object-fit: contain;
    display: block;
    margin: 0 auto;
}


/*
select_brick
*/

._select_brick_wrapper {
    height: auto;
    background-color: #ffffff;
    margin-bottom: 78px;
}

#brick_list {
    width: 700px;
    height: auto;
    /*float: left;*/
}

.brick_item {
    /*width: 120px;*/
    width: 20%;
    height: 200px;
    float: left;
    margin-bottom: 53px;
}


.brick_img {
    width: auto;
    height: auto;

    object-fit: contain;
    display: block;
    margin: 0 auto;
    text-align: center;

}

.brick_name {
    width: auto;
    height: 20px;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    text-align: center;
    color: #000000;

    margin-top: 7px;
    margin-bottom: 21px;
}

.item_brick_event {
    width:120px;
    height:68px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}


.brick_choice {
    width: 120px;
    height: 25px;
    background-color: #fd6246;
    object-fit: contain;
    display: block;
    /*margin: 0 auto;*/

    font-family: NotoSansCJKkr;
    font-size: 12px;
    text-align: center;
    color: #ffffff;

    padding-top: 7px;
    margin-bottom: 4px;
}

.brick_preview {
    width: 120px;
    height: 32px;
    background-color: #e94d50;

    object-fit: contain;
    display: block;
    margin: 0 auto;
    text-align: center;
}

/*
connect_platform
*/

._messenger_section {
    height: auto;
}

._messenger_wrapper {
    height: auto;
}

#article_fb {
    padding-bottom: 36px;
}

._fb_messenger_wrapper {
    height: auto;
}

.messenger_set {
    height: auto;
    width: auto;
    /*margin-bottom: 40px;*/
    /*border-bottom: solid 1px #eaeaea;*/
}

.messenger_img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    float: left;
}

.messenger_text {
    width: 596px;
    height: auto;
    float: left;
    display: block;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 17px;
}
.messenger_title {
    width: 94px;
    height: 20px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    margin-bottom: 6px;
}

.messenger_context {
    width: 137px;
    height: 18px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    margin-bottom: 55px;
}

.fb_page_set {
    height: 58px;
    width: 596px;
    float: left;
    border-bottom: solid 2px #e9e9e9;
    margin-left: 104px;
    margin-bottom: 10px;
}

.fb_page_img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    float: left;
}

.fb_page_text {
    width: 534px;
    height: auto;
    margin-left: 12px;
    float: left;
}

.fb_page_title {
    width: 87px;
    height: auto;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    float: left;

    padding-top: 12px;
    padding-bottom: 23px;
}

.fb_page_btn {
    width: 140px;
    height: 32px;
    border: solid 3px #000000;

    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    float: right;
}


._telegram_messenger_wrapper {
    height: auto;
}

#article_telegram {
    width:880px;
    height:auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    margin-bottom: 82px;
}

._telegram_messenger_wrapper {
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 99px;
    padding-top: 41px;
    border-top: 1px solid #eaeaea;
}

.tg_content {
    margin-top: 53px;
    width: 500px;
    height: auto;
    margin-left: 104px;
    /*margin-right: 190px;*/
}

.tg_content_title {
    width: auto;
    height: 20px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    /*margin-bottom: 15px;*/
}

.tgInputText {
    width: 500px;
    height: 25px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #000000;
    /*margin-top: 15px;*/
    padding-bottom:7px;
    padding-top: 25px;
}

.tg_content_context {
    width: auto;
    height: 72px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 15px;
}

/*
create apikey
*/
._apikey_section {
    height: auto;
    margin-bottom: 78px;
}

._apikey_wrapper {
    height: auto;
}

.api_set {
    /*height: 305px;*/
    height: auto;
    margin-top: 82px;
}

.api_title {
    width: 157px;
    height: 223px;
    margin-top: 18px;
    margin-right: 71px;
    float: left;
}

.api_img {
    width: 86px;
    height: 84px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.api_name {
    margin-top: 5px;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.api_content {
    width: 500px;
    height: auto;
    float: left;
}

.api_content_context {
    width: 500px;
    height: auto;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    margin-bottom: 24px;
}

.api_content_key_title {
    height: 20px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.apikeyInputText {
    width: 500px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #000000;
    margin-top: 15px;
    padding-bottom:7px;
}

.create_apikey_link {
    width: 94px;
    height: 18px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #d0021b;
    margin-top: 7px;
}

.apikey_underline {
    width: 700px;
    border-bottom: 1px;
    border-bottom-color: #eaeaea;
    margin-top: 76px;
    margin-right: 90px;
}

/*
create user profile
*/
div._user_profile_section {
    height: auto;
    background-color: #f3f3f3;
}

._profile_section {
    margin-top: 45px;
}

._user_profile_wrapper {
    height: auto;
    padding-bottom: 88px;
    background-color: #ffffff;
}

.user_profile_photo_area {
    height: 203px;

    border-bottom: solid 1px #eaeaea;
    margin-right: 90px;
}

.user_profile_img {
    height: 142px;
    width: 142px;
    object-fit: contain;
    float: left;
}

.user_profile_photo_guild_area {
    margin-left: 41px;
    float: left;
}

.user_profile_photo_title {
    width: 517px;
    height: auto;

    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.user_profile_photo_context {
    width: 517px;
    height: auto;

    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    margin-top: 10px;
    margin-bottom: 18px;
}

.user_profile_photo_upload_btn {
    width: 140px;
    height: 32px;
    border: solid 3px #000000;

    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.user_profile_data_area {
    margin-top: 20px;
}

hr.user_profile_line {
    /*width: 700px;*/
    border-bottom: 1px;
    border-bottom-color: #eaeaea;
    margin-top: 61px;
    margin-right: 90px;
}

#portfolio_endline {
    margin-bottom: 78px;
}

/*
footer zone
*/
#footer {
    background-color: #ffffff;
}
div.bottom_common {
    width:880px;
    /*height:144px;*/
    height:98px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding-top: 46px;

}

div.bottom_common #pre_page {
    width: 200px;
    height: 52px;
    background-color: #ff753c;
    text-align: center;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 900;
    color: #ffffff;
    float: left;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 235px;
}

div.bottom_common #next_page {
    width: 200px;
    height: 52px;
    background-color: #fd6246;
    text-align: center;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 900;
    color: #ffffff;
    float: left;
    vertical-align: middle;
}
