<!DOCTYPE html>
<html lang="kr" xmlns="http://www.w3.org/1999/html">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Title</title>
</head>
<body>
<header id="header">
	<div class="wrapper wrapper_header">
		<div class="top_01 top_common">
			<img id="logo" src="../images/test_img.png" alt="logo">
			<img id="login_logo" src="../images/test_img.png" alt="login_logo">
			<!--<div id="login_name" name="login_name"></div>-->
			<img id="login_dropdown" alt="login_dropdown">
		</div>

		<div class="top_02 top_common">
			<div class="top_02 title_area">
				<div id="title">CREAT CHATBOT</div>
				<div id="sub_title">| 데이터 정보 입력하기</div>
			</div>
			<div id="context">
				<p>
					{{사용자가 선택한 세트}}에 {{사용자의 이름}}님의 데이터 정보를 입력하는 단계에요.
					SET별로 비어있는 항목을 입력하거나 기존의 데이터를 수정하여 보다 더
					{{사용자의 이름}}에 잘어울리는 챗봇으로 만들어보세요.
				</p>
			</div>
		</div>
	</div>
</header>

<div id="content">
	<div class="wrapper_section _user_profile_section">
		<section id="section_01">
			<div class="content_title">
				<p>
					사용자 데이터 입력 _ 프로필정보 (PROFILE)
				</p>
			</div>

			<div class="wrapper_article _user_profile_wrapper">
				<article id="article_01" class="_article">

					<div class="wrapper">
						<div class="user_profile_photo_area">
							<img src="http://localhost:63342/cb-web/dist/5fae83177ae663a55094e3b89b5255ee.png"
									 id="profile_img" class="user_profile_img">

							<div class="user_profile_photo_guild_area">
								<div class="user_profile_photo_title">
									PROFILE IMAGE
								</div>

								<div class="user_profile_photo_context">
									챗봇에서 사용될 프로필 이미지를 업로드해주세요.</br>
									( 권장 해상도 : 800 x 800 )
								</div>

								<div class="user_profile_photo_upload_btn">
									<p>
										파일 업로드
									</p>
								</div>
							</div>
						</div>

						<div class="user_profile_data_area">
							<div class="baseInfo_01 article_title">
								<p>
									이름
								</p>
							</div>
							<input type="text" id="baseInfo_name" class="baseInputText" placeholder="가나다">

							<div class="baseInfo_02 article_title">
								<p>
									설명
								</p>
							</div>
							<input type="text" id="baseInfo_context_01" class="baseInputText" placeholder="가나다">
							<input type="text" id="baseInfo_context_02" class="baseInputText" placeholder="가나다">
						</div>

					</div>
				</article>
			</div>
		</section>
	</div>
</div>

</body>
</html>